<div class="tooltext">
    Your Question:
    <input id="question-input" />
    <button id="roll">Roll ball!</button>
    <hr style="margin: 10px 0" />
    <div id="result">
        You asked:
        <span id="question-display">Enter question above!</span><br />
        The ball says:
        <span id="answer-output">Nothing... yet!</span>
    </div>
</div>
