<audio id="audio"><source id="source-audio" src="" type="audio/mpeg" /></audio>

<div id="mp3-grid" class="basic-grid">
    <div>
        <div class="mp3-grid-left">
            <div class="player">
                <div class="information" style="padding-top: 20px">
                    <div id="timer">00:00</div>
                    <div id="title" style="margin-left: 10px; width: 210px; text-align: center"></div>
                    <div id="duration" style="margin-left: 10px">00:00</div>
                </div>
                <div class="progress" style="width: 100%; background-color: #d9d9f2; cursor: pointer; border-radius: 10px; margin-top: 15px">
                    <div id="progress-bar" style="max-width: 100%; width: 0%; height: 5px; background-color: #ffc266; border-radius: 10px"></div>
                </div>
                <div class="buttons">
                    <i class="player-icon fa-solid fa-step-backward" id="previous"></i>
                    <i class="player-icon fa-solid fa-backward" id="rewind"></i>
                    <i class="player-icon fa-solid fa-play" id="play-pause"></i>
                    <i class="player-icon fa-solid fa-forward" id="forward"></i>
                    <i class="player-icon fa-solid fa-step-forward" id="next"></i>
                    <i class="player-icon fa-solid fa-volume-up" style="justify-self: right" id="toggle-mute"></i>
                </div>
            </div>
            <div class="playlists" style="font-size: 18px; padding: 15px; margin-top: 15px">
                Playlists:
                <ul id="playlists-list"></ul>
            </div>
        </div>
    </div>
    <div class="playlists">
        <div id="playlist"></div>
    </div>
</div>
