<audio id="audio"><source id="source-audio" src="" type="audio/mpeg" /></audio>

<div id="mp3-grid" class="basic-grid">
    <div>
        <div class="mp3-grid-left">
            <div class="player">
                <div class="information" style="padding-top: 20px">
                    <div id="timer">0:00</div>
                    <div id="title" style="margin-left: 10px; width: 210px; text-align: center">Loading...</div>
                    <div id="duration" style="margin-left: 10px">0:00</div>
                </div>
                <div class="progress">
                    <div id="progress-bar"></div>
                </div>
                <div class="buttons">
                    <span style="margin-right: 20px"><span id="toggle-shuffle"><i id="shuffle-icon" class="fa-solid fa-shuffle"></i><i id="shuffle-status" class="fa-solid fa-xmark"></i></span></span>
                    <span><i class="player-icon fa-solid fa-step-backward" id="previous"></i></span>
                    <span><i class="player-icon fa-solid fa-backward" id="rewind"></i></span>
                    <span><i class="player-icon fa-solid fa-play" id="play-pause"></i></span>
                    <span><i class="player-icon fa-solid fa-forward" id="forward"></i></span>
                    <span><i class="player-icon fa-solid fa-step-forward" id="next"></i></span>
                    <span style="margin-left: 20px"><i class="player-icon fa-solid fa-volume-up" id="toggle-mute"></i></span>
                </div>
            </div>
            <div class="playlists" style="font-size: 18px; padding: 15px; margin-top: 15px">
                Playlists:
                <ul id="playlists-list"></ul>
            </div>
        </div>
    </div>
    <div class="playlists">
        <div id="playlist"></div>
    </div>
</div>
