.player,
.playlists {
    margin: auto;
    border: 3px solid #31353d;
    border-radius: 15px;
    background-color: #1e2529;
    padding: 10px;
    width: 450px;
    max-width: 90%;
    height: min-content;
    color: #ffc266;
}

#mp3-grid {
    --min-width: 500px;

    margin-top: 150px;

    @media (width <= 700px) {
        --min-width: unset;
    }

    & > div {
        margin-top: 0;
    }
}

.mp3-grid-left {
    position: sticky;
    top: 150px;
    z-index: 100;
}

#playlists-list {
    column-gap: 30px;
    column-count: 2;
    margin-block: 1em;
    margin-bottom: 5px;
    padding-inline-start: 40px;
    font-size: 15px;

    & li {
        margin-top: 8px;

        &:first-of-type {
            margin-top: 0;
        }

        &::marker {
            content: "—   ";
        }
    }
}

@media screen and (width <= 1010px) {
    #mp3-grid-left {
        position: static;
        top: unset;
        z-index: unset;
    }
}

.buttons,
.information {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information div {
    margin-bottom: 8px;
    color: #ffc266;
}

#playlists-list a {
    color: #ffc266;

    &:hover {
        color: #f1a93c;
    }
}

.playlist-section-title {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 5px;

    & > a {
        color: #ffc266;
        font-size: 20px;

        &:hover {
            color: #f1a93c;
        }
    }

    & > i.player-icon {
        padding-left: 8px;
        font-size: 18px;
    }
}

.playlist-track {
    display: flex;
    cursor: pointer;
    margin-top: 15px !important;
    border-radius: 5px;
    background-color: #3b3d43;

    &:hover {
        background: #31353d;
    }
}

.active-track {
    background: #31353d;
    font-weight: bold;
}

.playlist-track > div {
    margin: 10px;
}

.playlist-info-track {
    width: 80%;
}

.playlist-info-track,
.playlist-duration {
    padding-top: 7px;
    padding-bottom: 7px;
    pointer-events: none;
    color: #e9cc95;
    font-size: 14px;
}

.active-track > .playlist-info-track,
.active-track > .playlist-duration,
.active-track > .playlist-play {
    color: #ffc266 !important;
}

.playlist-play {
    padding-top: 5px;
    padding-bottom: 5px;
    pointer-events: none;
}

.buttons > span {
    margin-bottom: 15px;
    margin-inline: 2px;
    margin-top: 25px;
    width: 30px;
    text-align: center;
}

.player-icon,
#shuffle-icon {
    cursor: pointer;
    color: #ffc266;
    font-size: 20px;
}

.player-icon:hover,
#toggle-shuffle:hover #shuffle-icon,
#toggle-shuffle:hover #shuffle-status {
    color: #f1a93c;
}

#shuffle-status {
    transform: translate(-8px, 2px);
    cursor: pointer;
    border-radius: 10px;
    background-color: #1e2529;
    padding: 1.5px;
    width: 10px;
    font-size: 10px;
}

.progress {
    cursor: pointer;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #d9d9f2;
    width: 100%;
}

#progress-bar {
    border-radius: 10px;
    background-color: #ffc266;
    width: 0%;
    max-width: 100%;
    height: 5px;
}
