<header>
    <span class="mainlogo">
        <span style="color: #ff5555">E</span><span style="color: #ffaa00">e</span><span style="color: #ffff55">j</span><span style="color: #55ff55">i</span><span style="color: #00aa00">t</span><span style="color: #00aaaa">'</span><span style="color: #5555ff">s</span>
        <span style="color: #aa00aa" class="mainlogo-tools">Tools</span>
    </span>
    <br />
    <div class="message">
        Welcome to my site! Here are some handy tools I made whilst learning
        <span class="tooltip-bottom" data-tooltip="Hypertext Markup Language">HTML</span>, <span class="tooltip-bottom" data-tooltip="Cascading Style Sheets">CSS</span>, and JavaScript!
    </div>
</header>
<table class="toolstable">
    <tbody>
        <tr data-keywords="unix, unix time">
            <td style="width: 15vw">
                <a href="/tools/time"><i class="fa-regular fa-clock" style="margin-right: 3px"></i> Time</a>
            </td>
            <td>Displays the current time and date (in your time zone), as well as detailed time information</td>
        </tr>
        <tr data-keywords="internet, internet protocol, internet address, internet protocol address, internet service provider, isp, ip information">
            <td>
                <a href="/tools/ip-info"><i class="fa-solid fa-wifi" style="margin-right: 3px"></i> IP Info</a>
            </td>
            <td>Displays your current <span class="tooltip-bottom" data-tooltip="Internet Protocol">IP</span> address, and IP provided information</td>
        </tr>
        <tr data-keywords="">
            <td>
                <a href="/tools/countdowns"><i class="fa-regular fa-hourglass" style="margin-right: 3px; --fa-animation-duration: 10s"></i> Countdowns</a>
            </td>
            <td>Shows various countdowns until major upcoming holidays</td>
        </tr>
        <tr data-keywords="usd, money">
            <td>
                <a href="/tools/currency-exchange"><i class="fa-solid fa-coins" style="margin-right: 3px"></i> Currency Exchange Rates</a>
            </td>
            <td>Shows information for various currency conversions</td>
        </tr>
        <tr data-keywords="regular expression, regular expression tester">
            <td>
                <a href="/tools/regex"><i class="fa-solid fa-highlighter" style="margin-right: 3px"></i> Regex Tools</a>
            </td>
            <!-- prettier-ignore -->
            <td>Some useful <span class="tooltip-bottom" data-tooltip="Regular expression">regex</span> tools (duplicate line remover, whitespace remover), as well as a regex tester</td>
        </tr>
        <tr data-keywords="">
            <td>
                <a href="/tools/quick-copy"><i class="fa-regular fa-clipboard" style="margin-right: 3px"></i> Quick Copy</a>
            </td>
            <td>Clipboard display, clear clipboard button, and useful characters</td>
        </tr>
        <tr data-keywords="b64">
            <td>
                <a href="/tools/base64"><i class="fa-solid fa-code" style="margin-right: 3px"></i> Base64 Encode/Decode</a>
            </td>
            <td>Encode and decode to and from Base64 format (binary)</td>
        </tr>
        <tr data-keywords="">
            <td>
                <a href="/tools/base64-image"><i class="fa-solid fa-file-image" style="margin-right: 3px"></i> Base64 Image Encode/Decode</a>
            </td>
            <td>Encode and decode <i>images</i> to and from Base64 format</td>
        </tr>
        <tr data-keywords="hexadecimal, hexadecimal converter, hex converter, rgb converter, hsl converter">
            <td>
                <a href="/tools/color-converter"><i class="fa-solid fa-palette" style="margin-right: 3px"></i> Color Converter</a>
            </td>
            <td>Convert between Hex codes, RGB values, and HSL values, and see those colors displayed</td>
        </tr>
        <tr data-keywords="unix epoch">
            <td>
                <a href="/tools/unix-time-converter"><i class="fa-solid fa-calendar" style="margin-right: 3px"></i> UNIX Time Converter</a>
            </td>
            <td>Convert from date strings to UNIX time (in seconds or milliseconds), and back</td>
        </tr>
        <tr data-keywords="">
            <td>
                <a href="/tools/case-changer"><i class="fa-solid fa-font" style="margin-right: 3px"></i> Case Changer</a>
            </td>
            <td>Change a string to uppercase, lowercase, title case, or sentence case</td>
        </tr>
        <tr data-keywords="">
            <td>
                <a href="/tools/list-sorter"><i class="fa-solid fa-arrow-down-wide-short" style="margin-right: 3px"></i> List Sorter</a>
            </td>
            <td>Alphabetize, numerize, randomize, and reverse lists that can be defined with custom separators</td>
        </tr>
        <tr data-keywords="">
            <td>
                <a href="/tools/random-number"><i class="fa-solid fa-hashtag" style="margin-right: 3px"></i> Random Number Generator</a>
            </td>
            <td>Generate a random number between two numbers</td>
        </tr>
        <tr data-keywords="">
            <td>
                <a href="/tools/timer"><i class="fa-solid fa-bell fa-shake" style="margin-right: 3px"></i> Countdown Timer</a>
            </td>
            <td>Simple countdown timer with end time display</td>
        </tr>
        <tr data-keywords="">
            <td>
                <a href="/tools/stopwatch"><i class="fa-solid fa-stopwatch" style="margin-right: 3px"></i> Stopwatch</a>
            </td>
            <td>Simple stopwatch (displays down to milliseconds)</td>
        </tr>
        <tr data-keywords="spacebar">
            <td>
                <a href="/tools/counter"><i class="fa-solid fa-calculator" style="margin-right: 3px"></i> Counter</a>
            </td>
            <td>Press a key/button to add one to a counter</td>
        </tr>
        <tr data-keywords="conversion">
            <td>
                <a href="/tools/roman-converter"><i class="fa-solid fa-i" style="margin-right: 3px"></i> Roman Numeral Converter</a>
            </td>
            <td>Convert to and from roman numerals, with high level thousand supports (bars above numbers)</td>
        </tr>
        <tr data-keywords="keycode information">
            <td>
                <a href="/tools/keycode-info"><i class="fa-solid fa-keyboard" style="margin-right: 3px"></i> KeyCode Information</a>
            </td>
            <td>Click any keyboard key to get the key, key location, key code, char code (ASCII), and char code (Unicode)</td>
        </tr>
        <tr data-keywords="">
            <td>
                <a href="/tools/word-counter"><i class="fa-solid fa-file-word" style="margin-right: 3px"></i> Word Counter</a>
            </td>
            <td>Displays total characters, words, sentences, lines, and paragraphs in a piece of text</td>
        </tr>
        <tr data-keywords="hexadecimal">
            <td>
                <a href="/tools/binary-calc"><i class="fa-solid fa-0" style="margin-right: 3px"></i> Binary Calculator</a>
            </td>
            <td>Convert to/from binary/octal/decimal/hex</td>
        </tr>
        <tr data-keywords="conversion">
            <td>
                <a href="/tools/binary-text"><i class="fa-solid fa-1" style="margin-right: 3px"></i> Binary Text Converter</a>
            </td>
            <td>Convert to/from binary text</td>
        </tr>
        <tr data-keywords="conversion">
            <td>
                <a href="/tools/temperature-converter"><i class="fa-solid fa-thermometer-half" style="margin-right: 3px"></i> Temperature Converter</a>
            </td>
            <td>Convert between Fahrenheit, Celsius/Centigrade, and Kelvin</td>
        </tr>
        <tr data-keywords="conversion">
            <td>
                <a href="/tools/length-converter"><i class="fa-solid fa-ruler" style="margin-right: 3px"></i> Length Converter</a>
            </td>
            <td>Convert between United States standard length measurements and imperial length units</td>
        </tr>
        <tr data-keywords="conversion">
            <td>
                <a href="/tools/scientific-notation-converter"><i class="fa-solid fa-e" style="margin-right: 3px"></i> Scientific Notation Converter</a>
            </td>
            <td>Convert between scientific (e) notation and decimal form</td>
        </tr>
        <tr data-keywords="conversion">
            <td>
                <a href="/tools/morse-code-converter"><i class="fa-solid fa-ellipsis" style="margin-right: 3px"></i> Morse Code Converter</a>
            </td>
            <td>Convert to/from Morse code</td>
        </tr>
        <tr data-keywords="weather information">
            <td>
                <a href="/tools/weather-info"><i class="fa-solid fa-cloud-sun-rain" style="margin-right: 3px"></i> Weather Info</a>
            </td>
            <td>Shows current weather information and alerts</td>
        </tr>
        <tr data-keywords="tides information, tidal information">
            <td>
                <a href="/tools/tides-info"><i class="fa-solid fa-water" style="margin-right: 3px"></i> Tides Info</a>
            </td>
            <td>Shows current tidal information and for the next 7 days</td>
        </tr>
        <tr data-keywords="conversion">
            <td>
                <a href="/tools/time-converter"><i class="fa-solid fa-hourglass" style="margin-right: 3px"></i> Time Converter</a>
            </td>
            <td>Convert between units of time</td>
        </tr>
        <tr data-keywords="browser information">
            <td>
                <a href="/tools/browser-info"><i class="fa-solid fa-laptop" style="margin-right: 3px"></i> Browser Info</a>
            </td>
            <td>Shows basic information about your browser and operating system</td>
        </tr>
    </tbody>
</table>

<table class="toolstable" style="margin-top: 70px">
    <tbody>
        <tr data-keywords="gay">
            <td style="width: 15vw">
                <a href="/info/queer-calendar"><i class="fa-solid fa-calendar-days" style="margin-right: 3px"></i> Queer Calendar</a>
            </td>
            <td>Show LGBTQ+ related events for the current date or an inputted date of the current year</td>
        </tr>
        <tr data-keywords="">
            <td>
                <a href="/fun/random-fact"><i class="fa-solid fa-circle-info" style="margin-right: 3px"></i> Random Fact</a>
            </td>
            <td>Generate a random fact</td>
        </tr>
        <tr data-keywords="">
            <td>
                <a href="/fun/random-joke"><i class="fa-regular fa-face-grin-tears" style="margin-right: 3px"></i> Random Joke</a>
            </td>
            <td>Generate a random joke</td>
        </tr>
        <tr data-keywords="space">
            <td>
                <a href="/fun/astronomy-picture"><i class="fa-solid fa-meteor" style="margin-right: 3px"></i> Astronomy Picture of the Day</a>
            </td>
            <td>View <span class="tooltip-bottom" data-tooltip="National Aeronautics and Space Administration">NASA</span>'s Astronomy Picture of the Day (APOD)</td>
        </tr>
        <tr data-keywords="mc">
            <td>
                <a href="/info/minecraft-codes"><i class="fa-solid fa-gamepad" style="margin-right: 3px"></i> Minecraft Color/Format Codes</a>
            </td>
            <td>List of all Minecraft color and formatting codes</td>
        </tr>
        <tr data-keywords="">
            <td>
                <a href="/info/tone-indicators"><span style="font-size: 18px; display: inline-block; margin-right: 5px; -webkit-transform: scale(1.5, 1); -moz-transform: scale(1.5, 1); -o-transform: scale(1.5, 1); transform: scale(1.5, 1); vertical-align: 1px">/</span> Tone Indicators</a>
            </td>
            <td>List of common tone indicators</td>
        </tr>
        <tr data-keywords="">
            <td>
                <a href="/info/text-abbreviations"><i class="fa-solid fa-spell-check" style="margin-right: 3px"></i> Text Abbreviations</a>
            </td>
            <td>List of common abbreviations used in text</td>
        </tr>
        <tr data-keywords="military alphabet">
            <td>
                <a href="/info/phonetic-alphabet"><i class="fa-solid fa-arrow-down-a-z" style="margin-right: 3px"></i> NATO Phonetic Alphabet</a>
            </td>
            <td>Code words used by the military/police for letters</td>
        </tr>
        <tr data-keywords="">
            <td>
                <a href="/fun/eight-ball"><i class="fa-solid fa-circle-dot" style="margin-right: 3px"></i> Magic Eight Ball</a>
            </td>
            <td>Ask a question, and it will give you an answer!</td>
        </tr>
    </tbody>
</table>
