<header>
    <span class="mainlogo">
        <span style="color: #ff5555">E</span><span style="color: #ffaa00">e</span><span style="color: #ffff55">j</span><span style="color: #55ff55">i</span><span style="color: #00aa00">t</span><span
            style="color: #00aaaa"
        >'</span><span style="color: #5555ff">s</span>
        <span style="color: #aa00aa" class="mainlogo-tools">Tools</span>
    </span>
    <br />
    <div class="message">
        Welcome to my site! Here are some handy tools I made whilst learning
        <i class="fa-brands fa-html5"></i>
        <span class="tooltip-bottom" data-tooltip="Hypertext Markup Language">HTML</span>,
        <i class="fa-brands fa-css3-alt"></i>
        <span class="tooltip-bottom" data-tooltip="Cascading Style Sheets">CSS</span>, and
        <i class="fa-brands fa-square-js"></i>
        JavaScript!
        <span class="mobile-only"><br /><br /><a href="/search">Search the site!</a></span>
    </div>
</header>

{{#each pages}}
    <table class="tools-table">
        <tbody>
            {{#each this}}
                <tr>
                    <td><a href="{{this.link}}"><i class="page-icon fa-regular fa-{{this.icon}}"></i>{{this.title}}</a></td>
                    <td>{{{this.description}}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{/each}}
