<div class="large-search-box">
    <input class="large-search-text" type="text" placeholder="Search here..." /><i class="large-search-btn fa-solid fa-search"></i>
    <div class="large-search-results"></div>
</div>
