:root {
    --footer-gray: #31353d;
    --footer-green: #1e2529;
}

#show-shortcuts {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: var(--footer-gray);
    width: 32px;
    height: 32px;
    color: whitesmoke;
    font-size: 18px;
    text-align: center;

    @media (width <= 600px) {
        display: none;
    }
}

#scroll-to-top {
    position: fixed;
    right: 32px;
    bottom: 0;
    margin: 0;
    border: none;
    border-radius: 5px 0 0;
    background-color: var(--footer-gray);
    width: 32px;
    height: 32px;
    color: whitesmoke;
    font-size: 18px;
    text-align: center;

    @media (width <= 600px) {
        right: 0;
    }
}

#show-shortcuts:hover,
#scroll-to-top:hover {
    background-color: #2b2e35;
    color: dimgray;
}

#shortcuts {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    background-color: rgb(0 0 0 / 40%);
    padding-top: 200px;
    width: 100%;
    height: 200%;
    overflow: auto;

    &.animate-out-top {
        animation-duration: 0.3s;
        animation-direction: reverse;
        animation-name: animate-top;
        background-color: none;
    }
}

#shortcuts-content {
    position: relative;
    animation-duration: 0.4s;
    animation-name: animate-top;
    margin: auto;
    box-shadow:
        0 4px 8px 0 rgb(0 0 0 / 20%),
        0 6px 20px 0 rgb(0 0 0 / 18.8%);
    border: 3px solid var(--footer-gray);
    border-radius: 5px;
    background-color: var(--footer-green);
    padding: 0;
    width: 30%;
    min-width: 300px;

    & hr {
        margin: 5px 0 0;
    }
}

@keyframes animate-top {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

#shortcuts-header {
    background-color: var(--footer-green);
    padding: 5px 15px;
    color: whitesmoke;
    font-size: 22px;
}

#close-shortcuts {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    color: whitesmoke;
    font-weight: bold;
    font-size: 28px;

    &:hover,
    &:focus {
        color: dimgray;
        text-decoration: none;
    }
}

#shortcuts-list {
    background-color: var(--footer-green);
    padding: 15px;
    color: whitesmoke;
    font-size: 18px;
    line-height: 150%;
}
