#show-shortcuts {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 32px;
    height: 32px;
    margin: 0;
    color: var(--neutral-color-100);
    font-size: 18px;
    text-align: center;
    background-color: var(--full-page-border);
    border: none;
    border-radius: 0;

    @media (width <= 600px) {
        display: none;
    }
}

#scroll-to-top {
    position: fixed;
    right: 32px;
    bottom: 0;
    width: 32px;
    height: 32px;
    margin: 0;
    color: var(--neutral-color-100);
    font-size: 18px;
    text-align: center;
    background-color: var(--full-page-border);
    border: none;
    border-radius: 5px 0 0;

    @media (width <= 600px) {
        right: 0;
    }
}

#show-shortcuts:hover,
#scroll-to-top:hover {
    color: var(--neutral-color-200);
    background-color: #2d3239;
}

#shortcuts {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: block;
    width: 100%;
    height: 200%;
    padding-top: 200px;
    background-color: rgb(0 0 0 / 40%);
    overflow: auto;

    &.animate-out-top {
        background-color: none;
        animation-duration: 0.3s;
        animation-direction: reverse;
        animation-name: animate-top;
    }
}

#shortcuts-content {
    position: relative;
    width: 30%;
    min-width: 300px;
    margin: auto;
    padding: 0;
    background-color: var(--full-page-background);
    border: 3px solid var(--full-page-border);
    border-radius: 5px;
    box-shadow:
        0 4px 8px 0 rgb(0 0 0 / 20%),
        0 6px 20px 0 rgb(0 0 0 / 18.8%);
    animation-duration: 0.4s;
    animation-name: animate-top;

    & hr {
        margin: 5px 0 0;
    }
}

@keyframes animate-top {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

#shortcuts-header {
    padding: 5px 15px;
    color: var(--neutral-color-100);
    font-size: 22px;
    background-color: var(--full-page-background);
}

#close-shortcuts {
    position: absolute;
    top: 0;
    right: 10px;
    color: var(--neutral-color-100);
    font-weight: bold;
    font-size: 28px;
    cursor: pointer;

    &:hover,
    &:focus {
        color: var(--neutral-color-200);
        text-decoration: none;
    }
}

#shortcuts-list {
    padding: 15px;
    color: var(--neutral-color-100);
    font-size: 18px;
    line-height: 150%;
    background-color: var(--full-page-background);
}
