header {
    margin-top: 140px;
    text-align: center;
}

.mainlogo {
    font-weight: 700;
    font-size: 80px;

    @media (width <= 700px) {
        font-size: 60px;
    }
}

.mainlogo-tools {
    font-weight: 700;
    font-size: 65px;

    @media (width <= 700px) {
        font-size: 45px;
    }
}

.warning,
.message {
    margin: 20px 10px 0;
    color: lightgray;
    font-weight: 500;
    font-size: 22px;

    @media (width <= 700px) {
        font-size: 18px;
    }
}

.tools-table {
    left: 10%;
    margin: 45px auto 30px;
    border-collapse: collapse;
    background-color: #1b1e24;
    width: 70%;
    height: 40%;
    color: #a8a8a8;

    @media (width <= 700px) {
        width: 85%;
    }

    & tr {
        background-color: #2f343a;
    }

    & td {
        border: 4px solid #1b1e24;
        padding: 20px;
        font-weight: 500;
        font-size: 19px;
        text-align: left;

        @media (width <= 700px) {
            padding: 12px;
            font-size: 14px;
        }
    }

    & > tbody > tr > td:first-of-type {
        width: 15vw;
    }
}

.page-icon {
    margin-right: 5px;
}
