nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2000;
    display: grid;
    padding: 30px 25px;
    grid-template-columns: 1fr repeat(4, fit-content(100%));
    align-items: center;
    column-gap: 25px;
    font-size: 20px;
    background-color: #1b1e24 !important;

    @media (width <= 600px) {
        column-gap: 15px;
        font-size: 16px;
    }
}

.nav-shrunk {
    padding: 15px 25px;
    font-size: 18px;

    @media (width <= 600px) {
        font-size: 13px;
    }

    & .logo {
        font-size: 23px;

        @media (width <= 600px) {
            font-size: 16px;
        }
    }

    & .logo-tools {
        font-size: 18px;

        @media (width <= 600px) {
            font-size: 13px;
        }
    }

    & .search-box {
        height: 40px;
        padding: 3px;

        @media (width <= 600px) {
            height: 38px;
            padding: 2px;
        }
    }
}

nav,
nav * {
    transition:
        padding 0.4s ease,
        font-size 0.4s ease;
}

.logo {
    font-weight: bold;
    font-size: 28px;
    text-align: left;

    @media (width <= 600px) {
        font-size: 18px;
    }
}

.logo-tools {
    font-weight: bold;
    font-size: 22px;

    @media (width <= 600px) {
        font-size: 13px;
    }
}

.search-box {
    width: max-content;
    height: 44px;
    padding: 5px;
    color: var(--neutral-color-100);
    background-color: var(--input-background);
    border: 2px solid #3b3b3f;
    border-radius: 10px;

    @media (width <= 600px) {
        height: 40px;
        padding: 3px;
    }

    & .search-button {
        float: right;
        display: flex;
        width: 30px;
        height: 30px;
        margin: auto;
        align-items: center;
        justify-content: center;
        color: var(--neutral-color-100);
        cursor: pointer;
    }

    & .search-text {
        width: 0 !important;
        padding: 6px 0 !important;
        color: var(--neutral-color-100) !important;
        background-color: var(--input-background) !important;
        border: none !important;

        &::placeholder {
            color: var(--neutral-color-100);
        }
    }
}

.search-results {
    z-index: -100;
    display: none;

    & table {
        display: block;
        width: 300px;
        max-height: 500px;
        margin-top: 1px;
        padding: 8px;
        color: var(--neutral-color-100);
        font-size: 18px;
        background-color: var(--input-background);
        border: 2px solid #3b3b3f;
        border-radius: 10px;
        overflow-y: scroll;

        & tr:first-of-type > td {
            padding-top: 0;
            border-top: none;
        }

        & tr:last-of-type > td {
            padding-bottom: 0;
        }

        & td {
            width: 300px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-top: 2px solid var(--neutral-color-200);

            & .results-title {
                padding-bottom: 5px;
                font-size: 20px;
            }

            & a {
                color: var(--neutral-color-200);

                &:hover,
                &.search-result-selected {
                    color: var(--neutral-color-300);
                }
            }
        }
    }
}

.search-box:hover > .search-text,
.search-text:focus {
    width: 249px !important;
    padding: 7px 0 6px 8px !important;
    box-shadow: none !important;
}

.search-box:hover > .search-results,
.search-text:focus ~ .search-results {
    display: unset;
}

.nav-time {
    font-weight: bold;

    & > #time-icon {
        margin-left: 2px;

        &.fa-triangle-exclamation {
            color: var(--error-color-300);
        }

        &.fa-sun-bright {
            color: var(--warning-color-300);
        }

        &.fa-moon-stars {
            color: var(--warning-color-100);
        }
    }
}

.source {
    color: var(--neutral-color-200);

    &:hover {
        color: var(--neutral-color-300);
    }

    & i {
        margin-left: 2px;
        transform: translateY(1.5px);
    }
}

#last-commit-info {
    & code {
        color: var(--neutral-color-100);
        font-size: 14px;

        & i {
            padding-right: 5px;
        }

        &::after {
            margin-left: -120px;
        }

        @media (width <= 600px) {
            font-size: 12px;
        }
    }
}
