/* Modified from https://codepen.io/cbracco/pen/nufHz */

/* Base styles for the element that has a tooltip */
[data-tooltip] {
    position: relative;
    cursor: pointer;
    text-align: center;
    text-decoration: underline dotted;
}

/* Base styles for the entire tooltip */
[data-tooltip]::before,
[data-tooltip]::after {
    position: absolute;
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover::before,
[data-tooltip]:hover::after,
[data-tooltip]:focus::before,
[data-tooltip]:focus::after {
    visibility: visible;
    opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
[data-tooltip]::before {
    z-index: 1001;
    border: 6px solid transparent;
    background-color: transparent;
    content: "";
}

/* Base styles for the tooltip's content area */
[data-tooltip]::after {
    z-index: 1000;
    border-radius: 5px;
    background-color: rgb(43 43 43 / 95%);
    padding: 8px;
    width: 160px;
    content: attr(data-tooltip);
    color: var(--neutral-color-100);
    font-size: 14px;
    line-height: 1.2;
    word-break: break-word;
}

/* Directions */

/* Top (default) */
[data-tooltip]::before,
[data-tooltip]::after,
.tooltip-top::before,
.tooltip-top::after {
    bottom: 100%;
    left: 50%;
}

[data-tooltip]::before,
.tooltip-top::before {
    margin-bottom: -12px;
    margin-left: -6px;
    border-top-color: black;
    border-top-color: rgb(43 43 43 / 95%);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]::after,
.tooltip-top::after {
    margin-left: -80px;
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::after,
[data-tooltip]:focus::before,
[data-tooltip]:focus::after,
.tooltip-top:hover::before,
.tooltip-top:hover::after,
.tooltip-top:focus::before,
.tooltip-top:focus::after {
    transform: translateY(-12px);
}

/* Left */
.tooltip-left::before,
.tooltip-left::after {
    right: 100%;
    bottom: 50%;
    left: auto;
}

.tooltip-left::before {
    margin-right: -12px;
    margin-bottom: 0;
    margin-left: 0;
    border-top-color: transparent;
    border-left-color: black;
    border-left-color: rgb(43 43 43 / 95%);
}

.tooltip-left:hover::before,
.tooltip-left:hover::after,
.tooltip-left:focus::before,
.tooltip-left:focus::after {
    transform: translateX(-12px);
}

/* Bottom */
.tooltip-bottom::before,
.tooltip-bottom::after {
    top: 100%;
    bottom: auto;
    left: 50%;
}

.tooltip-bottom::before {
    margin-top: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-bottom-color: black;
    border-bottom-color: rgb(43 43 43 / 95%);
}

.tooltip-bottom:hover::before,
.tooltip-bottom:hover::after,
.tooltip-bottom:focus::before,
.tooltip-bottom:focus::after {
    transform: translateY(12px);
}

/* Right */
.tooltip-right::before,
.tooltip-right::after {
    bottom: 50%;
    left: 100%;
}

.tooltip-right::before {
    margin-bottom: 0;
    margin-left: -12px;
    border-top-color: transparent;
    border-right-color: black;
    border-right-color: rgb(43 43 43 / 95%);
}

.tooltip-right:hover::before,
.tooltip-right:hover::after,
.tooltip-right:focus::before,
.tooltip-right:focus::after {
    transform: translateX(12px);
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left::before,
.tooltip-right::before {
    top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left::after,
.tooltip-right::after {
    margin-bottom: -16px;
    margin-left: 0;
}
