Welcome! Here is specific information about circulating United States coinage from throughout the country's history. For a general overview,
see
<a href="https://en.wikipedia.org/wiki/Coins_of_the_United_States_dollar" class="external-link" target="_blank">this Wikipedia page</a>.

<hr />

<div id="output"></div>
<div id="output-grid"><span class="error">Loading...</span></div>

<div id="modal">
    <span id="close-modal">&times;</span>
    <img id="modal-image" />
    <div id="modal-caption"></div>
</div>
