<table class="info-table" style="overflow-x: hidden; margin-top: 30px; width: 40%">
    <thead>
        <tr>
            <th>Letter</th>
            <th>Code Word</th>
        </tr>
    </thead>
    <tbody>
        {{#each additionalData.phoneticAlphabet}}
            <tr>
                <td>{{this.letter}}</td>
                <td>{{this.codeWord}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
