<h2 id="events-title">Current Events:</h2>

<ul id="events"><span class="error">Loading data...</span></ul>

Month:
<input id="month-input" type="text" max="12" maxlength="2" />

Date:
<input id="date-input" type="text" max="31" maxlength="2" />

<button id="get-date">Get info</button>

<button id="reset-date">Set to current date</button>

<a target="_blank" id="year-overview" class="external-link">View year overview (list)</a>

Uses the
<a href="https://en.pronouns.page/api" target="_blank" class="external-link">pronouns.page API</a>
