<div class="warning scroll-message">Scroll →</div>
<table class="info-table">
    <thead>
        <tr>
            <th>State</th>
            <th>Postal Abbreviation</th>
            <th>Standard Abbreviation</th>
        </tr>
    </thead>
    <tbody>
        {{#each additionalData.stateAbbreviations}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.postal}}</td>
                <td>{{this.standard}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
