<table class="info-table">
    <thead>
        <tr>
            <th>Abbreviation</th>
            <th>Meaning</th>
        </tr>
    </thead>
    <tbody>
        {{#each additionalData.textAbbreviations}}
            <tr>
                <td>{{this.abbreviation}}</td>
                <td>{{{this.meaning}}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
