Tone indicators can be used to express tones or emotions in online messages, and are usually appended to a message.
<table class="info-table">
    <thead>
        <tr>
            <th>Tone Indicator</th>
            <th>Meaning</th>
        </tr>
    </thead>
    <tbody>
        {{#each additionalData.toneIndicators}}
            <tr>
                <td>/{{this.fullIndicators}}</td>
                <td>{{{this.meaning}}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
