#calendar-grid {
    margin-top: 150px;
    --min-width: 575px;
}

#calendar-grid > div {
    margin-top: 0px;
}

@media only screen and (max-width: 700px) {
    #calendar-grid {
        --min-width: unset;
    }
}

#main-calendar,
#date-display {
    background-color: #1e2529;
    border: 3px solid #31353d;
    border-radius: 15px;
    color: #ffecd1;
    margin: auto;
    margin: auto;
    padding: 15px;
    width: 85%;
}

#month-year {
    font-size: 25px;
    margin-bottom: 10px;
}

#calendar {
    border-collapse: collapse;
    font-size: 20px;
    margin: auto;
    table-layout: fixed;
    width: 100%;
}

#calendar th {
    padding: 5px;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    #calendar th {
        font-size: 15px;
    }
}

#calendar td {
    border: 1px solid #31353d;
    height: 100%;
    padding: 5px;
    position: relative;
    text-align: center;
    width: 100%;
}

#calendar td:hover:not(.no-date) {
    background-color: #31353d;
    cursor: pointer;
}

.selected-date {
    background-color: #2b3d47;
}

.selected-date:hover {
    background-color: #344a56 !important;
}

.current-date {
    background-color: #348037;
}

.current-date:hover {
    background-color: #4c9a4f !important;
}

.holiday {
    color: #145791;
}

.moon-icon {
    float: right;
    font-size: 16px;
    position: absolute;
    right: 5px;
    top: 5px;
}

@media only screen and (max-width: 600px) {
    #calendar td {
        font-size: 15px;
    }
    .moon-icon {
        font-size: 12px;
    }
}

@media only screen and (max-width: 400px) {
    #calendar td {
        font-size: 13px;
    }
    .moon-icon {
        font-size: 9px;
    }
}

#buttons {
    margin-top: 20px;
}

#buttons button:last-of-type {
    margin-left: 10px;
}

#date-display {
    font-size: 25px;
    text-align: center;
}

#display-date {
    font-size: 70px;
    margin-block: 5px;
}

.events,
.todo-list {
    font-size: 20px;
    margin-top: 20px;
    text-align: left;
}

#events-list {
    margin-left: 40px;
}

#events-list li::marker {
    content: '—   ';
}

#login-password {
    width: 50px;
    margin-top: 15px;
}

#todo-list {
    margin-left: 40px;
}

.todo-checkbox {
    display: none;
}

/* Inspired by https://codepen.io/avstorm/pen/yjLGGN */
.todo-label {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.todo-label span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.todo-label .checkbox-container {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098a9;
    transition: all 200ms ease;
}

.todo-label .checkbox-container svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 300ms ease;
    transition-delay: 100ms;
    transform: translate3d(0, 0, 0);
}

.todo-label .checkbox-container:before {
    content: '';
    width: 100%;
    height: 100%;
    background: #506eec;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}

.todo-label .todo-label-text {
    padding-inline: 18px;
    margin-left: -5px;
}

.todo-label .todo-label-text:after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: currentColor;
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
    transition: width 200ms ease-in-out;
}

.todo-label:hover .checkbox-container {
    border-color: #506eec;
}

.todo-checkbox:checked + .todo-label .checkbox-container {
    background: #506eec;
    border-color: #506eec;
    animation: wave 400ms ease;
}

.todo-checkbox:checked + .todo-label .checkbox-container svg {
    stroke-dashoffset: 0;
}

.todo-checkbox:checked + .todo-label .checkbox-container:before {
    transform: scale(2.5);
    opacity: 0;
    transition: all 400ms ease;
}

.todo-checkbox:checked + .todo-label .todo-label-text:after {
    width: calc(100% - 25px);
}

.todo-checkbox:disabled + .todo-label .checkbox-container {
    background: #9098a94c;
    border-color: #9098a9;
}

.todo-checkbox:checked:disabled + .todo-label .checkbox-container {
    background: #9098a9;
    border-color: #9098a9;
}

@keyframes wave {
    50% {
        transform: scale(0.9);
    }
}

#todo-save-button {
    margin-top: 20px;
}
