.keycodes {
    background-color: #1b1e24;
    background-color: #31363d;
    border: 4px solid #1b1e24;
    border-collapse: collapse;
    color: #a8a8a8;
    margin: 50px auto 30px;
    overflow-y: scroll;
    position: static;
    width: 70%;
}

@media (max-width: 700px) {
    .keycodes {
        display: inline-block;
        margin: 8px auto 30px;
        min-width: 97%;
    }
}

.keycodes th {
    background-color: #31363d;
    border-bottom: 1px solid #1b1e24;
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

@media (max-width: 700px) {
    .keycodes th {
        font-size: 16px;
        padding: 20px;
    }
}

.keycodes td {
    border: 3px solid #1b1e24;
    font-size: 18px;
    font-weight: 500;
    padding: 20px;
    text-align: center;
}

.keycodes td:hover {
    background-color: #3a3f47;
    cursor: not-allowed;
}

@media (max-width: 700px) {
    .keycodes td {
        border-bottom: none;
        font-size: 16px;
        padding: 14px;
    }
}

.keycodes-td-ready td {
    cursor: pointer !important;
}
