<div id="result">Pulling data from the cosmos <i class="fa-solid fa-spinner fa-pulse"></i></div>

<h2>Fetch from specified date:</h2>

Month:
<input id="month-input" type="text" max="12" maxlength="2" />

Date:
<input id="date-input" type="text" max="31" maxlength="2" />

Year:
<input id="year-input" type="text" maxlength="4" />

<button id="get-date">Get info</button>
<button id="reset-date">Set to current date</button>
