<div class="tooltext">
    Your Question:
    <input id="question-input" />
    <button id="roll">Roll ball!</button>
    <hr style="margin: 10px 0" />
    <div id="result">
        You asked:
        <div id="question-display">Enter question above!</div>
        The ball says:
        <div id="answer-output">Nothing... yet!</div>
    </div>
</div>
