<h2>Your Question:</h2>
<input id="question-input" />
<button id="roll">Roll ball!</button>
<hr />
<section>
    <h2>You asked:</h2>
    <div id="question-display">Enter question above!</div>
    <h2>The ball says:</h2>
    <div id="answer-output">Nothing... yet!</div>
</section>
