<audio id="audio"></audio>

<div id="mp3-grid" class="basic-grid">
    <div>
        <div class="mp3-grid-left">
            <div class="player">
                <div class="information">
                    <div id="timer">0:00</div>
                    <div id="title">Loading...</div>
                    <div id="duration">0:00</div>
                </div>
                <div class="progress">
                    <div id="progress-bar"></div>
                </div>
                <div class="buttons">
                    <span><span id="toggle-shuffle"><i id="shuffle-icon" class="fa-solid fa-width-auto fa-shuffle"></i><i
                                id="shuffle-status"
                                class="fa-solid fa-xmark"
                            ></i></span></span>
                    <span><i class="player-icon fa-solid fa-step-backward" id="previous"></i></span>
                    <span><i class="player-icon fa-solid fa-backward" id="rewind"></i></span>
                    <span><i class="player-icon fa-solid fa-play" id="play-pause"></i></span>
                    <span><i class="player-icon fa-solid fa-forward" id="forward"></i></span>
                    <span><i class="player-icon fa-solid fa-step-forward" id="next"></i></span>
                    <span><i class="player-icon fa-solid fa-volume-up" id="toggle-mute"></i></span>
                </div>
            </div>
            <div class="playlists">
                Playlists:
                <ul id="playlists-list"></ul>
            </div>
        </div>
    </div>
    <div class="playlists">
        <div id="playlist"></div>
    </div>
</div>
