<header>
    <div class="main-logo brand-colors">
        <span>E</span><span>e</span><span>j</span><span>i</span><span>t</span><span>'</span><span>s</span>
        <span class="main-logo-tools">Tools</span>
    </div>
    <div class="message">
        Welcome to my site! Here are some handy tools I made whilst learning
        <i class="fa-brands fa-html5"></i>
        <span data-tooltip="Hypertext Markup Language">HTML</span>,
        <i class="fa-brands fa-css3-alt"></i>
        <span data-tooltip="Cascading Style Sheets">CSS</span>, and
        <i class="fa-brands fa-square-js"></i>
        JavaScript!
    </div>
</header>

{{#each pages}}
    <table class="tools-table">
        <tbody>
            {{#each this}}
                <tr>
                    <td><a href="{{this.link}}"><i class="page-icon fa-regular fa-{{this.icon}}"></i>{{this.title}}</a></td>
                    <td>{{{this.description}}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{/each}}
