Welcome! Here is a list of coins I have and need!<br /><br /><br />

Password
<input type="text" id="login-password" style="width: 50px" />
<button id="login-button">Login</button>
<span id="login-result" style="padding-left: 5px;"></span><br /><br /><br />

<hr />
<div id="coins-list">Please login to view this!</div>
<div id="modal">
    <span id="close-modal">&times;</span>
    <img id="modal-image" />
    <div id="modal-caption"></div>
</div>
