<table class="info-table" style="overflow-x: hidden; margin-top: 30px; width: 40%">
    <thead>
        <tr>
            <th>Letter</th>
            <th>Code Word</th>
        </tr>
    </thead>
    <tbody>
        <% for (const entry of additionalData.phoneticAlphabet) { %>
        <tr>
            <td><%= entry.letter %></td>
            <td><%= entry.codeWord %></td>
        </tr>
        <% } %>
    </tbody>
</table>
