<table class="info-table" style="overflow-x: hidden; margin-top: 30px">
    <thead>
        <tr>
            <th>Abbreviation</th>
            <th>Meaning</th>
        </tr>
    </thead>
    <tbody>
        <% for (const entry of additionalData.textAbbreviations) { %>
        <tr>
            <td><%= entry.abbreviation %></td>
            <td><%- entry.meaning %></td>
        </tr>
        <% } %>
    </tbody>
</table>
