:root {
    --checkbox-color: var(--info-color-300);
    --checkbox-border-color: var(--neutral-color-100);
}

#calendar-grid {
    --min-width: 575px;

    margin-top: 150px;

    @media (width <= 700px) {
        --min-width: unset;
    }

    & > div {
        margin-top: 0;
    }
}

#main-calendar,
#date-display {
    width: 85%;
    margin: auto;
    padding: 15px;
    color: var(--full-page-color);
    background-color: var(--full-page-background);
    border: 3px solid var(--full-page-border);
    border-radius: 15px;
}

#month-year {
    margin-bottom: 10px;
    font-size: 25px;
}

#calendar {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    table-layout: fixed;
    font-size: 20px;
    border-collapse: collapse;

    & th {
        padding: 5px;
        text-align: center;

        @media (width <= 700px) {
            font-size: 15px;
        }
    }

    & td {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 5px;
        text-align: center;
        border: 1px solid var(--full-page-border);

        &:not(.no-date):hover {
            background-color: var(--full-page-border);
            cursor: pointer;
        }
    }
}

.selected-date {
    background-color: var(--full-page-active);

    &:hover {
        background-color: var(--full-page-active-hover) !important;
    }
}

.current-date {
    background-color: var(--success-color-350);

    &:hover {
        background-color: var(--success-color-300) !important;
    }
}

.holiday {
    color: var(--info-color-300);
}

.moon-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    float: right;
    font-size: 16px;
}

@media (width <= 600px) {
    #calendar td {
        font-size: 15px;
    }

    .moon-icon {
        font-size: 12px;
    }
}

@media (width <= 400px) {
    #calendar td {
        font-size: 13px;
    }

    .moon-icon {
        font-size: 9px;
    }
}

#buttons {
    margin-block: 1em;

    & button:last-of-type {
        margin-left: 10px;
    }
}

#date-display {
    font-size: 25px;
    text-align: center;
}

#display-date {
    margin-block: 5px;
    font-size: 70px;
}

.events,
.todo-list {
    margin-top: 20px;
    font-size: 20px;
    text-align: left;
}

#events-list {
    margin-left: 40px;

    & li::marker {
        content: "—   ";
    }
}

#login-password {
    width: 50px;
    margin-top: 15px;
}

#todo-list {
    margin-left: 40px;
}

.todo-checkbox {
    display: none;

    &:checked + .todo-label {
        & .todo-label-text::after {
            width: calc(100% - 25px);
        }

        & .checkbox-container {
            background-color: var(--checkbox-color);
            border-color: var(--checkbox-color);
            animation: wave 400ms ease;

            &::before {
                opacity: 0;
                transform: scale(2.5);
                transition: all 400ms ease;
            }

            & svg {
                stroke-dashoffset: 0;
            }
        }
    }

    &:checked:hover + .todo-label .checkbox-container {
        background-color: #3c759e;
    }

    &:disabled + .todo-label .checkbox-container {
        background-color: rgb(144 152 169 / 30%);
        border-color: var(--checkbox-border-color);
    }

    &:checked:disabled + .todo-label .checkbox-container {
        background-color: var(--checkbox-border-color);
        border-color: var(--checkbox-border-color);
    }
}

/* Inspired by https://codepen.io/avstorm/pen/yjLGGN */
.todo-label {
    margin: auto;
    cursor: pointer;
    user-select: none;

    & span {
        display: inline-block;
        vertical-align: middle;
        transform: translate3d(0, 0, 0);
    }

    & .checkbox-container {
        position: relative;
        width: 18px;
        height: 18px;
        vertical-align: middle;
        border: 1px solid var(--checkbox-border-color);
        border-radius: 3px;
        transform: scale(1);
        transition: all 200ms ease;

        &::before {
            display: block;
            background-color: var(--checkbox-color);
            border-radius: 50%;
            opacity: 1;
            transform: scale(0);
            content: "";
        }

        & svg {
            position: absolute;
            top: 3px;
            left: 2px;
            fill: none;
            stroke: white;
            stroke-width: 2;
            stroke-dasharray: 16px;
            stroke-dashoffset: 16px;
            stroke-linecap: round;
            stroke-linejoin: round;
            transform: translate3d(0, 0, 0);
            transition: all 300ms ease;
            transition-delay: 100ms;
        }
    }

    & .todo-label-text {
        margin-left: -5px;
        padding-inline: 18px;

        &::after {
            position: absolute;
            top: 50%;
            left: 13px;
            display: block;
            width: 0%;
            height: 2px;
            background-color: currentcolor;
            transform: translateY(-50%);
            transition: width 200ms ease-in-out;
            content: "";
        }
    }

    &:hover .checkbox-container {
        border-color: var(--checkbox-color);
    }
}

@keyframes wave {
    50% {
        transform: scale(0.9);
    }
}

#todo-save-button {
    margin-top: 20px;
}
