#generate-random {
    padding: 8px;
    font-size: 15px;
}

h2 {
    margin-bottom: 10px;
}

.color-grid {
    display: grid;
    margin-bottom: 1em;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-width, 200px), 1fr));
    gap: 10px;

    &:nth-of-type(2) {
        --min-width: 500px;
    }

    & div {
        margin-top: 20px;
    }
}

#color-display {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 0;
    background-image:
        repeating-linear-gradient(45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa),
        repeating-linear-gradient(45deg, #aaa 25%, white 25%, white 75%, #aaa 75%, #aaa);
    background-position:
        0 0,
        5px 5px;
    background-size: 10px 10px;
    border: 4px solid var(--dark-border);
    cursor: pointer;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: currentcolor;
        content: "";
    }
}

#alter-values button {
    display: block;

    &:not(:first-of-type) {
        margin-top: 5px;
    }
}

#manual-inputs div,
#color-info div {
    margin-top: 0;
}

#name-input {
    width: calc(20ch + 12px);
}

#hex-input {
    width: calc(9ch + 12px);
}

#decimal-input {
    width: calc(10ch + 12px);
}

#rgb-input {
    width: calc(21ch + 12px);
}

#hsl-input {
    width: calc(30ch + 12px);
}

#alpha-input {
    width: calc(4ch + 12px);
}

#luminance-output,
#temperature-output {
    width: calc(5ch + 12px);
}

#color-history {
    width: 90%;
    max-width: 90%;
    height: 105px;
    padding: 15px;
    padding-left: 10px;
    border: 4px solid var(--dark-border);
    overflow-y: scroll;

    & li {
        display: inline-block;
        margin-inline: 5px;
        list-style-type: none;
        cursor: pointer;

        &:hover {
            filter: brightness(0.7);
        }
    }
}

#full-color {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#full-color-message {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 20px;
    color: var(--neutral-color-500);
    background-color: var(--neutral-color-100);
    border-top: 1px solid var(--neutral-color-500);
    border-left: 1px solid var(--neutral-color-500);
    border-top-left-radius: 10px;
}
