#ready {
    margin-bottom: 1em;
}

.keycodes {
    word-wrap: break-word;
    margin: 30px auto;
    border: 4px solid var(--table-border);
    border-collapse: collapse;
    background-color: var(--table-background);
    width: 70%;
    table-layout: fixed;
    overflow-y: scroll;
    color: var(--neutral-color-100);
    line-height: 150%;

    @media (width <= 700px) {
        width: 95%;
        font-size: 14px;
    }

    & th {
        padding: 8px;
        color: var(--neutral-color-200);
        font-size: 18px;
        text-align: center;

        @media (width <= 700px) {
            font-size: 14px;
        }
    }

    & td {
        border: 3px solid var(--table-border);
        padding: 8px;
        font-weight: 500;
        font-size: 18px;
        text-align: center;

        @media (width <= 700px) {
            font-size: 16px;
        }

        &:hover {
            cursor: not-allowed;
            background-color: #3a3f47;
        }
    }
}

.keycodes-td-ready td {
    cursor: pointer !important;
}
