#ready {
    margin-bottom: 1em;
}

.keycodes {
    width: 70%;
    margin: 30px auto;
    table-layout: fixed;
    color: var(--neutral-color-100);
    line-height: 150%;
    background-color: var(--table-background);
    border: 4px solid var(--table-border);
    border-collapse: collapse;
    overflow-y: scroll;
    overflow-wrap: break-word;

    @media (width <= 700px) {
        width: 95%;
        font-size: 14px;
    }

    & th {
        padding: 8px;
        color: var(--neutral-color-200);
        font-size: 18px;
        text-align: center;

        @media (width <= 700px) {
            font-size: 14px;
        }
    }

    & td {
        padding: 8px;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        border: 3px solid var(--table-border);

        @media (width <= 700px) {
            font-size: 16px;
        }

        &:hover {
            background-color: #3a3f47;
            cursor: not-allowed;
        }
    }
}

.keycodes-td-ready td {
    cursor: pointer !important;
}
