.keycodes {
    position: static;
    margin: 50px auto 30px;
    border: 4px solid #1b1e24;
    border-collapse: collapse;
    background-color: #31363d;
    width: 70%;
    overflow-y: scroll;
    color: #a8a8a8;

    @media (width <= 700px) {
        display: inline-block;
        margin: 8px auto 30px;
        min-width: 97%;
    }

    & th {
        border-bottom: 1px solid #1b1e24;
        background-color: #31363d;
        padding: 10px;
        font-size: 18px;
        text-align: center;

        @media (width <= 700px) {
            padding: 20px;
            font-size: 16px;
        }
    }

    & td {
        border: 3px solid #1b1e24;
        padding: 20px;
        font-weight: 500;
        font-size: 18px;
        text-align: center;

        &:hover {
            cursor: not-allowed;
            background-color: #3a3f47;
        }

        @media (width <= 700px) {
            border-bottom: none;
            padding: 14px;
            font-size: 16px;
        }
    }
}

.keycodes-td-ready td {
    cursor: pointer !important;
}
