.toolbox {
    & div {
        &:first-of-type {
            margin-top: 0.5em;
        }

        &:last-of-type {
            margin-bottom: 0.5em;
        }
    }

    & input,
    & .fake-input {
        width: 150px !important;
    }
}

#integer-arrow,
#roman-arrow {
    margin-inline: 40px;
    color: var(--neutral-color-300);
}

.roman-numerals {
    width: 15em;
    margin: 0 10px;

    & tr > td:first-of-type {
        font-family: var(--font-family-serif);

        & span {
            border-top: 1.5px solid;
        }
    }
}

.roman-numeral-big {
    border-top: 1px solid;
}
