section div.basic-grid {
    --min-width: 200px;
}

#svg-input {
    width: 90%;
    min-width: 40%;
    max-width: 90%;
    resize: both;
}

#svg-preview {
    margin-bottom: 1em;
}

#svg-preview,
#png-canvas {
    width: 200px;
    height: 200px;
    padding: 5px;
    color: black;
    border: 4px solid var(--dark-border);
}

#width-input,
#height-input {
    width: 70px;
}
