#result {
    display: none;

    &.has-data {
        display: unset;
    }

    & span:not(#closest-extreme-type, #next-closest-extreme-type) {
        color: var(--neutral-color-200);
    }
}

#upcoming-extremes {
    width: 40%;
    margin-top: 1em;
    margin-left: 1em;
}
