.toolbox {
    & .basic-grid {
        --min-width: 450px;

        row-gap: 60px;
    }

    & input {
        display: block;
        margin-bottom: 0.25em;
    }
}

#standard-output,
#standard-input {
    width: calc(35ch + 12px);
}

#unix-output,
#unix-input {
    width: calc(14ch + 12px);
}

#standard-arrow,
#unix-arrow {
    display: block;
    margin: 0.5em 80px;
    color: var(--neutral-color-300);
    font-size: 30px;
}
