header {
    margin-top: 140px;
    text-align: center;
}

.mainlogo {
    font-size: 80px;
    font-weight: 700;
}

.mainlogo-tools {
    font-size: 65px;
    font-weight: 700;
}

@media only screen and (max-width: 700px) {
    .mainlogo {
        font-size: 60px;
    }
    .mainlogo-tools {
        font-size: 45px;
    }
}

.warning,
.message {
    color: lightgray;
    font-size: 22px;
    font-weight: 500;
    margin: 20px 10px 0;
}

@media only screen and (max-width: 700px) {
    .warning,
    .message {
        font-size: 18px;
    }
}

.tools-table {
    background-color: #1b1e24;
    border-collapse: collapse;
    color: #a8a8a8;
    height: 40%;
    left: 10%;
    margin: 45px auto 30px;
    width: 70%;
}

.tools-table tr {
    background-color: #2f343a;
}

.tools-table td {
    border: 4px solid #1b1e24;
    font-size: 19px;
    font-weight: 500;
    padding: 20px;
    text-align: left;
}

@media only screen and (max-width: 700px) {
    .tools-table {
        width: 85%;
    }
    .tools-table td {
        font-size: 14px;
        padding: 12px;
    }
}
