/* Login section */
#login-container {
    margin-top: 1em;
}

#login-password {
    width: calc(4ch + 12px);
}

div#toggle-buttons button {
    margin: 0 5px 20px;

    &:first-of-type {
        margin-left: 0;
    }
}

.coin-denomination {
    margin-bottom: 8px;
    font-size: 30px;
}

.coin-denomination-image {
    vertical-align: middle;
    margin-right: 6px;
    max-height: 30px;
}

button.coin-denomination-expand {
    vertical-align: middle;
    margin-left: 10px;
}

.coin-design {
    margin-block: 8px;
    font-size: 18px;
}

.coin-design-image {
    vertical-align: middle;
    margin-right: 6px;
    max-height: 18px;
}

.coin-table {
    margin: 20px auto;
    width: 50%;

    & td {
        padding: 12px 15px;
        font-size: 16px;

        @media (width <= 700px) {
            padding: 12px;
            font-size: 14px;
        }
    }

    & input[type="checkbox"] {
        display: block;
        transform: scale(1.2);
        margin: auto;
    }
}

.coin-table-message td {
    text-align: center;
}

#coins-list.obtained-hidden tr[data-obtained="true"][data-upgrade="false"],
#coins-list.upgrade-hidden tr[data-upgrade="true"],
#coins-list.missing-hidden tr[data-upgrade="false"] {
    display: none;
}

#coins-list.unobtained-sections-hidden .coin-denomination[data-none-obtained="true"],
#coins-list.unobtained-sections-hidden .coin-design[data-none-obtained="true"] {
    display: none;
}

tr[data-obtained="false"] {
    background-color: var(--error-color-300);
}

tr[data-obtained="true"] {
    background-color: var(--success-color-350);
}

tr[data-upgrade="true"] {
    background-color: var(--info-color-350);
}

#missing-text {
    color: var(--error-color-300);
}

#obtained-text {
    color: var(--success-color-350);
}

#needing-upgrade-text {
    color: var(--info-color-350);
}

.new-row-message {
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
        background-color: #3e434b;
    }

    &[data-disabled="true"] {
        background-color: #2b3037;
    }

    & i.fa-plus {
        padding-right: 6px;
    }
}

.coin-design-note {
    text-decoration: none;
}

.coin-image-icon {
    display: unset;
    transition: 0.3s;
    cursor: pointer;
    padding-left: 2px;

    &:hover {
        color: var(--neutral-color-150);
    }
}

.mintage-for-all-varieties::after {
    cursor: text;
    content: " (F.A.V.)";
}

.coin-type-comparison {
    cursor: pointer;
    text-decoration: underline dotted;
}

button.coin-design-expand {
    margin-left: 5px;
}

/* History */
#change-history {
    margin-top: 20px;
    border: 4px solid var(--dark-border);
    padding: 15px;
    padding-left: 10px;

    & li {
        margin-inline: 30px;

        &::marker {
            content: "—   ";
        }
    }
}

.time-tooltip {
    margin-left: 8px;
    text-decoration: none;
}

/* Data exporter/generate needed list buttons */
.button-row-container {
    display: flex;
    gap: 10px;
}

button#export-data,
button#generate-needed-list,
button#generate-simplified-needed-list {
    margin-top: 1em;
    padding: 5px;
}

#needed-list-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgb(0 0 0 / 90%);
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#needed-list-modal-content {
    display: block;
    animation-duration: 0.6s;
    animation-name: zoom;
    margin: auto;
    padding: 10px 0;
    width: 80%;
    max-width: 700px;
    height: 150px;
    color: var(--neutral-color-100);
    font-family: monospace;
    white-space: preserve;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

#close-needed-list-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    transition: 0.3s;
    color: var(--neutral-color-100);
    font-weight: bold;
    font-size: 40px;

    &:hover,
    &:focus {
        cursor: pointer;
        color: var(--neutral-color-200);
        text-decoration: none;
    }
}
