/* Login section */
#login-container {
    margin-top: 1em;
}

#login-password {
    width: calc(4ch + 12px);
}

div#toggle-buttons button {
    margin: 0 5px 20px;

    &:first-of-type {
        margin-left: 0;
    }
}

.coin-denomination {
    margin-bottom: 8px;
    font-size: 30px;
}

.coin-denomination-image {
    vertical-align: middle;
    margin-right: 6px;
    max-height: 30px;
}

button.coin-denomination-expand {
    vertical-align: middle;
    margin-left: 10px;
}

.coin-design {
    margin-block: 8px;
    font-size: 18px;
}

.coin-design-image {
    vertical-align: middle;
    margin-right: 6px;
    max-height: 18px;
}

.coin-table {
    margin: 20px auto;
    width: 50%;

    & input[type="checkbox"] {
        transform: scale(1.3);
    }
}

.coin-table-message td {
    text-align: center;
}

#coins-list.obtained-hidden tr[data-obtained="true"][data-upgrade="false"],
#coins-list.upgrade-hidden tr[data-upgrade="true"],
#coins-list.missing-hidden tr[data-upgrade="false"] {
    display: none;
}

#coins-list.unobtained-designs-hidden .coin-design[data-none-obtained="true"] {
    display: none;
}

tr[data-obtained="false"] {
    background-color: var(--error-color-300);
}

tr[data-obtained="true"] {
    background-color: var(--success-color-350);
}

tr[data-upgrade="true"] {
    background-color: var(--info-color-350);
}

#missing-text {
    color: var(--error-color-300);
}

#obtained-text {
    color: var(--success-color-350);
}

#needing-upgrade-text {
    color: var(--info-color-350);
}

.new-row-message {
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
        background-color: #3e434b;
    }

    &[data-disabled="true"] {
        background-color: #2b3037;
    }

    & i.fa-plus {
        padding-right: 6px;
    }
}

.coin-design-note {
    text-decoration: none;
}

.coin-image-icon {
    display: unset;
    transition: 0.3s;
    cursor: pointer;
    padding-left: 2px;

    &:hover {
        color: var(--neutral-color-150);
    }
}

.mintage-for-all-varieties::after {
    content: " (for all varieties)";
}

.coin-type-comparison {
    cursor: pointer;
    text-decoration: underline dotted;
}

button.coin-design-expand {
    margin-left: 5px;
}

/* History */
#change-history {
    margin-top: 20px;
    border: 4px solid var(--dark-border);
    padding: 15px;
    padding-left: 10px;

    & li {
        margin-inline: 30px;

        &::marker {
            content: "—   ";
        }
    }
}

.time-tooltip {
    margin-left: 8px;
    text-decoration: none;
}

/* Data exporter */
button#export-data {
    margin-top: 1em;
    padding: 5px;
}
