#output {
    & #back-button-container {
        margin-bottom: 1em;
    }

    & #information-grid {
        --min-width: 350px;

        & .coin-information-row {
            margin-block: 8px;
            color: var(--neutral-color-150);

            & ul {
                margin-left: 35px;

                & li::marker {
                    content: "– ";
                }
            }

            & span {
                color: var(--neutral-color-100);

                &[data-unknown="true"] {
                    color: var(--error-color-200);
                }
            }
        }

        & img {
            width: 200px;
            max-width: 100%;
        }
    }
}

#output-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;

    & .information-button {
        width: 200px;
        margin: auto;
        padding: 8px;
        text-align: center;
        white-space: pre-wrap;
        background-color: #272a32;
        border: 2px solid var(--neutral-color-150);
        border-radius: 3px;
        transition:
            opacity 100ms ease,
            border-radius 100ms ease;

        &:hover {
            border-radius: 8px;
            opacity: 0.8;
            cursor: pointer;
        }

        & img {
            width: 100%;
        }
    }
}
