div.toolbox {
    & table {
        max-width: 80%;
        table-layout: fixed;

        &.country-variant-table {
            display: inline-block;
            max-width: 250px;
            margin: 8px auto 30px;
        }

        & td {
            padding: 12px;

            &:has(img) {
                font-size: 0;
            }
        }

        & img {
            max-width: 100%;
            margin-block: 2px;
        }
    }
}
