#login-container {
    margin-top: 1em;
}

#login-password {
    width: calc(4ch + 12px);
}

#collections-list table {
    width: 50%;
    margin: 20px auto;

    & td {
        & input[type="checkbox"] {
            display: block;
            margin: auto;
            transform: scale(1.3);
        }

        &[data-obtained="false"] {
            background-color: var(--error-color-300);
        }

        &[data-obtained="true"] {
            background-color: var(--success-color-350);
        }

        &[data-obtained="na"] {
            background-color: var(--neutral-color-200);
        }
    }
}

#collection-list th {
    text-align: center;
}

#new-row-message {
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
        background-color: #3e434b;
    }

    &[data-disabled="true"] {
        background-color: #2b3037;
    }

    & i.fa-plus {
        padding-right: 6px;
    }
}

button#export-data {
    padding: 5px;
}
