#coins-list {
    padding-top: 20px;
}

div#toggle-buttons button {
    margin: 0 5px 20px;
}

div#toggle-buttons button:first-of-type {
    margin-left: 0;
}

.coin-type {
    font-size: 30px;
    margin-bottom: 8px;
}

.coin-type-image {
    margin-right: 6px;
    max-height: 30px;
    vertical-align: middle;
}

button.coin-type-expand {
    margin-left: 10px;
    vertical-align: middle;
}

.coin-variant {
    font-size: 18px;
    margin-block: 8px;
}

.coin-variant-image {
    margin-right: 6px;
    max-height: 18px;
    vertical-align: middle;
}

.hidden {
    display: none;
}

.coin-variant-table {
    margin: 20px auto;
    width: 50%;
}

.coin-table-message td {
    text-align: center;
}

/* Popup images */
.popup-image {
    cursor: pointer;
    transition: 0.3s;
}

.popup-image:hover {
    opacity: 0.8;
}

#modal {
    background-color: black;
    background-color: rgb(0 0 0 / 90%);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    padding-top: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#modal-image {
    display: block;
    margin: auto;
    max-width: 700px;
    width: 80%;
}

#modal-caption {
    color: #ccc;
    display: block;
    height: 150px;
    margin: auto;
    max-width: 700px;
    padding: 10px 0;
    text-align: center;
    width: 80%;
}

#modal-image,
#modal-caption {
    animation-duration: 0.6s;
    animation-name: zoom;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

#close-modal {
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    right: 35px;
    top: 15px;
    transition: 0.3s;
}

#close-modal:hover,
#close-modal:focus {
    color: #bbb;
    cursor: pointer;
    text-decoration: none;
}

@media (width <= 700px) {
    #modal-image {
        width: 90%;
    }
}

#coins-list.obtained-hidden tr[data-obtained="true"][data-upgrade="false"],
#coins-list.upgrade-hidden tr[data-upgrade="true"],
#coins-list.missing-hidden tr[data-upgrade="false"] {
    display: none;
}

tr[data-obtained="false"] {
    background-color: #944646;
}

tr[data-obtained="true"] {
    background-color: #378036;
}

tr[data-upgrade="true"] {
    background-color: #414187;
}

.new-row-message i.fa-plus {
    padding-right: 6px;
}

.coin-variant-note {
    text-decoration: none;
}

.coin-image-icon {
    cursor: pointer;
    display: unset;
    padding-left: 2px;
    transition: 0.3s;
}

.coin-image-icon:hover {
    color: #929292;
}

.coin-type-comparison {
    cursor: pointer;
    text-decoration: underline dotted;
}

button.coin-variant-expand {
    margin-left: 5px;
}

#change-history {
    border: 4px solid #16181c;
    margin-top: 20px;
    padding: 15px;
    padding-left: 10px;
}

#change-history li {
    margin-inline: 30px;
}

#change-history li::marker {
    content: "—   ";
}

.time-tooltip {
    margin-left: 8px;
    text-decoration: none;
}

button#export-data {
    margin-top: 10px;
    padding: 5px;
}
