#coins-list {
    padding-top: 20px;
}

div#toggle-buttons button {
    margin: 0 5px 20px;

    &:first-of-type {
        margin-left: 0;
    }
}

.coin-type {
    margin-bottom: 8px;
    font-size: 30px;
}

.coin-type-image {
    vertical-align: middle;
    margin-right: 6px;
    max-height: 30px;
}

button.coin-type-expand {
    vertical-align: middle;
    margin-left: 10px;
}

.coin-variant {
    margin-block: 8px;
    font-size: 18px;
}

.coin-variant-image {
    vertical-align: middle;
    margin-right: 6px;
    max-height: 18px;
}

.hidden {
    display: none;
}

.coin-variant-table {
    margin: 20px auto;
    width: 50%;
}

.coin-table-message td {
    text-align: center;
}

/* Popup images */
.popup-image {
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    background-color: rgb(0 0 0 / 90%);
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#modal-image {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 700px;
}

#modal-caption {
    display: block;
    margin: auto;
    padding: 10px 0;
    width: 80%;
    max-width: 700px;
    height: 150px;
    color: #ccc;
    text-align: center;
}

#modal-image,
#modal-caption {
    animation-duration: 0.6s;
    animation-name: zoom;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

#close-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    transition: 0.3s;
    color: #f1f1f1;
    font-weight: bold;
    font-size: 40px;

    &:hover,
    &:focus {
        cursor: pointer;
        color: #bbb;
        text-decoration: none;
    }
}

@media (width <= 700px) {
    #modal-image {
        width: 90%;
    }
}

#coins-list.obtained-hidden tr[data-obtained="true"][data-upgrade="false"],
#coins-list.upgrade-hidden tr[data-upgrade="true"],
#coins-list.missing-hidden tr[data-upgrade="false"] {
    display: none;
}

tr[data-obtained="false"] {
    background-color: #944646;
}

tr[data-obtained="true"] {
    background-color: #378036;
}

tr[data-upgrade="true"] {
    background-color: #414187;
}

.new-row-message {
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
        background-color: #3e434b;
    }

    & i.fa-plus {
        padding-right: 6px;
    }
}

.coin-variant-note {
    text-decoration: none;
}

.coin-image-icon {
    display: unset;
    transition: 0.3s;
    cursor: pointer;
    padding-left: 2px;

    &:hover {
        color: #929292;
    }
}

.coin-type-comparison {
    cursor: pointer;
    text-decoration: underline dotted;
}

button.coin-variant-expand {
    margin-left: 5px;
}

#change-history {
    margin-top: 20px;
    border: 4px solid #16181c;
    padding: 15px;
    padding-left: 10px;

    & li {
        margin-inline: 30px;

        &::marker {
            content: "—   ";
        }
    }
}

.time-tooltip {
    margin-left: 8px;
    text-decoration: none;
}

button#export-data {
    margin-top: 10px;
    padding: 5px;
}
