/* Modified from https://codepen.io/alexakasanjeev/pen/RPxGXY */

.color-box {
    display: flex;
    margin: 15px 0;
    width: 100%;
    height: 10px;

    & div {
        flex-grow: 1;
        transition: all 0.8s ease-in-out;
        cursor: pointer;
        margin: 0;
        height: 10px;

        &:hover {
            flex-grow: 5;
        }
    }

    & .red {
        background-color: #ff5852;
    }

    & .orange {
        background-color: #ff9000;
    }

    & .yellow {
        background-color: #ffd300;
    }

    & .green {
        background-color: #3dcd49;
    }

    & .blue {
        background-color: #0089d7;
    }

    & .purple {
        background-color: #9e44c4;
    }
}
