/* APOD output */
#result {
    margin-bottom: 1em;
}

a#apod-link {
    display: block;
    width: 900px;
    max-width: 90%;
    margin: 20px auto;

    & > img {
        width: 100%;
    }
}

div#apod-embed-container {
    position: relative;
    width: 900px;
    max-width: 90%;
    margin: 15px auto;
    padding-top: 40%;
    overflow: hidden;

    & > iframe {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
    }
}

/* Date fetcher */
#month-input,
#date-input {
    width: 2.5em;
    margin-right: 1em;
}

#year-input {
    width: 4em;
    margin-right: 1em;
}

#reset-date {
    display: block;
    margin-top: 1em;
}
