<section>
    <h2>Input:</h2>
    <textarea id="input"></textarea>
    <button id="encode">Encode</button>
    <button id="decode">Decode</button>
    <button id="clear" class="button-danger">Clear</button>
</section>
<hr />
<section>
    <h2>Output:</h2>
    <textarea id="result" readonly></textarea>
    <button id="copy-result" class="button-copy" disabled>Copy</button>
</section>
