<div class="basic-grid" style="--min-width: 450px">
    <section>
        <h2>Image:</h2>
        <label id="file-upload-label" for="file-upload" class="file-upload">Upload</label>
        <input id="file-upload" type="file" />
        <div id="file-message"></div>
        <button id="encode">Encode</button>
        <button id="clear-upload" class="button-danger">Clear</button>
    </section>
    <section>
        <h2>Base64 Encoded Image:</h2>
        <textarea id="string-input"></textarea>
        <button id="decode">Decode</button>
        <button id="clear-string" class="button-danger">Clear</button>
    </section>
</div>
<hr />
<div class="basic-grid" style="--min-width: 450px">
    <section>
        <h2>Base64 Encoded Image:</h2>
        <textarea id="encoded-result" readonly></textarea>
        <button id="encoded-copy-result" class="button-copy" disabled>Copy</button>
        <a id="encoded-open-result-link" target="_blank"><button id="encoded-open-result" disabled>Open in new tab</button></a>
    </section>
    <section>
        <h2>Image:</h2>
        <img id="image-result" style="max-width: 80%" />
    </section>
</div>
