<div class="tooltext">
    Input:<br />
    <textarea id="input" style="width: 50%"></textarea>
    <br /><button id="encode">Encode <i id="encode-result"></i></button><button id="decode">Decode <i id="decode-result"></i></button>
    <button id="clear">Clear</button>
</div>
<hr style="margin-top: 30px" />
<div class="tooltext">
    Output:<br />
    <textarea id="result" style="width: 50%" readonly></textarea>
    <br /><button id="copy-result" disabled>Copy</button>
</div>
