<section>
    <h2>Input:</h2>
    <textarea id="input"></textarea>
    <button id="to-upper">To uppercase</button>
    <button id="to-lower">To lowercase</button>
    <button id="to-title">To title case</button>
    <button id="to-sentence">To sentence case</button>
    <button id="clear" class="button-danger">Clear</button>
</section>
<hr />
<section>
    <h2>Output:</h2>
    <textarea id="result" readonly></textarea>
    <button id="copy-result" class="button-copy" disabled>Copy</button>
</section>
