<div id="counter-container"><div id="counter" class="odometer">0</div></div>
<div id="buttons-container">
    Activation Button:
    <select id="activation-button">
        <option value="1">Spacebar</option>
        <option value="2">Return</option>
        <option value="3">C</option>
    </select>
    <button id="manual-activation">Manual Increase</button>
    <button id="reset" class="button-danger">Reset</button>
</div>
