<div id="ready"><span class="success"><i class="fa-solid fa-check"></i> Ready to get key information!</span></div>
Click any key to get information, click any cell to copy the information.
<table class="keycodes">
    <thead>
        <tr>
            <th>Key</th>
            <th>Repeating</th>
            <th>Key Location</th>
            <th>Key Code</th>
            <th>Char Code (ASCII)</th>
            <th>Char Code (Unicode)</th>
        </tr>
    </thead>
    <tr id="key-results">
        <td id="key-cell">
            <span id="key">&nbsp;</span>
        </td>
        <td id="key-repeating-cell">
            <span id="key-repeating">&nbsp;</span>
        </td>
        <td id="key-location-cell">
            <span id="key-location">&nbsp;</span>
        </td>
        <td id="key-code-cell">
            <span id="key-code">&nbsp;</span>
        </td>
        <td id="key-ascii-cell">
            <span id="key-ascii">&nbsp;</span>
        </td>
        <td id="key-unicode-cell">
            <span id="key-unicode">&nbsp;</span>
        </td>
    </tr>
</table>
