<section>
    <h2>Input:</h2>
    <textarea id="input"></textarea>
    <div>
        <span class="tooltip-bottom" data-tooltip="What separates items in the list (\n = newline)">Separator</span>:
        <input id="separator" value="\n" />
    </div>
    <button id="alphabetize">Alphabetize (A-Z)</button>
    <button id="numerical-order">Sort in numerical order (filters non numbers)</button>
    <button id="randomize">Randomize</button>
    <button id="reverse">Reverse current order</button>
    <button id="remove-duplicates">Remove duplicates</button>
    <button id="clear" class="button-danger">Clear</button>
</section>
<hr />
<section>
    <h2>Output:</h2>
    <textarea id="result" readonly></textarea>
    <button id="copy-result" class="button-copy" disabled>Copy</button>
</section>
