Morse Code can be represented in writing using dashes and dots (hyphens/underscores and periods,
<code>-</code>/<code>_</code>
and
<code>.</code>). Characters are separated by spaces, and actual spaces are represented by a backslash (<code>/</code>), a vertical slash (<code
>|</code>), or three spaces (<code>   </code>). For example,
<code>TEST ABC</code>
converts to
<code>- . ... - / .- -... -.-.</code>. Morse code does
<em>not</em>
keep character case. This has been expanded to include common conversions not officially recognized by the
<span class="tooltip-bottom" data-tooltip="International Telecommunication Union Radiocommunication Sector">ITU-R</span>
M.1172 or M.1677-1 (<code>;</code>,
<code>!</code>,
<code>_</code>,
<code>$</code>, and
<code>&</code>).

<section>
    <h2>Input:</h2>
    <textarea id="input"></textarea>
    <button id="to-morse">Encode</button>
    <button id="from-morse">Decode</button>
    <button id="clear" class="button-danger">Clear</button>
</section>
<hr />
<section>
    <h2>Output:</h2>
    <textarea id="result" readonly></textarea>
    <button id="copy-result" class="button-copy" disabled>Copy</button>
    <button id="copy-result-vertical" class="button-copy" disabled>Copy with vertical slash space</button>
    <button id="copy-result-spaces" class="button-copy" disabled>Copy with three space space</button>
</section>
