<div class="basic-grid">
    <section>
        <button id="clear-clipboard">Clear Clipboard</button>

        <div>Zero Width Space (&ZeroWidthSpace;):
            <button id="copy-zws" class="button-copy">Copy</button>
        </div>
        <div>Non-Breaking Space (&nbsp;):
            <button id="copy-nbsp" class="button-copy">Copy</button>
        </div>
        <div>Em Space (&emsp;):
            <button id="copy-ems" class="button-copy">Copy</button>
        </div>
        <div>En Space (&ensp;):
            <button id="copy-ens" class="button-copy">Copy</button>
        </div>
        <div>Thin Space (&thinsp;):
            <button id="copy-ts" class="button-copy">Copy</button>
        </div>
    </section>
    <section>
        <h2>Current Clipboard:</h2>
        <div class="error" id="clipboard-warning"></div>
        <textarea id="copied-text" readonly></textarea>
        <button id="select-clipboard" disabled>Select Clipboard</button>
    </section>
</div>
