<section>
    <h2>Input (<span class="code">\(operand \cdot \sqrt[index]{radicand}\)</span>):</h2>
    <div>
        Index:
        <input id="index" placeholder="2" />
    </div>
    <div>
        Radicand:
        <input id="radicand" />
    </div>
    <div>
        Operand:
        <input id="operand" placeholder="1" />
    </div>

    <button id="simplify">Simplify</button>
    <button id="reset" class="button-danger">Reset</button>
</section>
<hr />
<section>
    <h2>Result:</h2>
    <span id="output" class="code hidden"></span>
    <span id="message">Nothing yet!</span>
</section>
