<div>
    Min (Inclusive):
    <input type="number" class="no-arrow" id="min-number" value="1" />
</div>
<div>
    Max (Inclusive)
    <input type="number" class="no-arrow" id="max-number" value="10" />
</div>
<button id="generate-number">Generate</button>
<button id="reset" class="button-danger">Reset</button>
<hr />
<div id="random-number-container"><span class="odometer" id="random-number">0</span></div>
