<div class="tooltext">
    Input:<br />
    <span style="font-weight: 500; color: dimgray; font-size: 16px"><a
            href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions/Cheatsheet"
            target="_blank"
            class="external-link"
        >Regex</a>:
        <input id="regex-input" style="width: 320px; max-width: 70%" />　<a
            href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions#advanced_searching_with_flags"
            target="_blank"
            class="external-link"
        >Flags</a>:
        <input id="flags-input" value="g" style="width: 4rem" /><br />
        Replace string (leave empty to delete):
        <input id="replace-input" style="width: 320px; max-width: 70%" /></span><br />
    <textarea id="text-input" style="width: 450px; max-width: 70%; height: 100px; max-height: 350px; resize: both"></textarea>
    <br /><button id="run-button">Run regex <i id="regex-result"></i></button>
    <button id="clear-button">Clear Input</button>
    <button id="clear-all-button">Clear All</button>
    <button id="switch-button">Move output to input <i id="switch-result"></i></button>
</div>
<hr style="margin-top: 30px" />
<div class="tooltext">
    Output:<br />
    <textarea id="output-text" style="width: 450px; max-width: 70%; height: 100px; max-height: 350px; resize: both" readonly></textarea>
    <br /><button id="copy-result-button" disabled>Copy</button>
</div>
