<section>
    <h2>Input:</h2>
    <div id="regex-inputs">
        <a
            href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions/Cheatsheet"
            target="_blank"
            class="external-link"
        >Regex</a>:
        <input id="regex-input" />

        <a
            href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions#advanced_searching_with_flags"
            target="_blank"
            class="external-link"
        >Flags</a>:
        <input id="flags-input" value="g" />
    </div>
    <div>
        Replace string (leave empty to delete):
        <input id="replace-input" />
    </div>
    <textarea id="text-input"></textarea>
    <button id="run-button">Run regex</button>
    <button id="clear-button" class="button-danger">Clear input</button>
    <button id="clear-all-button" class="button-danger">Clear all</button>
    <button id="switch-button">Move output to input</button>
</section>
<hr />
<section>
    <h2>Output:</h2>
    <textarea id="output-text" readonly></textarea>
    <button id="copy-result-button" class="button-copy" disabled>Copy</button>
</section>
