Scientific notation can be represented using e notation, such as
<code>5e+2</code>
(plus sign optional), or using standard scientific notation, such as
<code>5 x 10<sup>2</sup></code>
(written as
<code>5 x 10^2</code>). Both variants can be used in this converter.<br /><br />
Decimal:
<input type="text" id="decimal-input" style="width: 10rem" />
<button id="decimal-convert" disabled>Convert</button><button id="decimal-reset" style="margin-right: 40px" disabled>Reset</button>
<i id="decimal-arrow" class="fa-solid fa-arrow-right" style="color: var(--neutral-color-300)"></i>
<input id="scientific-output" style="width: 10rem; margin-left: 40px" readonly />
<button id="scientific-output-copy" disabled>Copy scientific e notation</button><button id="scientific-output-copy-2" disabled>Copy scientific notation</button>
<br />Scientific (e) Notation:
<input id="scientific-input" style="width: 10rem" />
<button id="scientific-convert" disabled>Convert</button><button id="scientific-reset" style="margin-right: 40px" disabled>Reset</button>
<i id="scientific-arrow" class="fa-solid fa-arrow-right" style="color: var(--neutral-color-300)"></i>
<input id="decimal-output" style="width: 10rem; margin-left: 40px" readonly />
<button id="decimal-output-copy" disabled>Copy</button>
