<div class="basic-grid" style="--min-width: 450px">
    <div>
        <h2>SVG:</h2>
        <textarea id="svg-input"></textarea>
        <button id="load-svg">Load SVG</button>
        <button id="clear" class="button-danger">Clear</button>
    </div>
    <div>
        <h2>Loaded SVG (auto-shrunk to fit):</h2>
        <div id="svg-preview"></div>
    </div>
</div>
<div class="basic-grid" style="--min-width: 450px">
    <div>
        <h2>Save Options:</h2>
        <div>
            Width:
            <input id="width-input" type="number" min="1" max="9999" placeholder="100" disabled />
        </div>
        <div>
            Height:
            <input id="height-input" type="number" min="1" max="9999" placeholder="100" disabled />
        </div>
        <button id="save-png" disabled>Save PNG</button>
    </div>
    <div>
        <h2>Converted PNG (auto-shrunk to fit):</h2>
        <canvas id="png-canvas"></canvas>
    </div>
</div>
