<section>
    <h2>Input:</h2>
    <select id="input-type">
        <option value="1" selected>Fahrenheit</option>
        <option value="2">Celsius</option>
        <option value="3">Kelvin</option>
    </select>
    <input id="input" />
    <button id="reset" class="button-danger">Reset</button>
    <button id="switch">Switch input and output</button>
</section>
<hr />
<section>
    <h2><span class="tooltip-bottom" data-tooltip="Rounded to the nearest thousandth">Output</span>:</h2>
    <div id="message" class="error"></div>
    <select id="output-type">
        <option value="1">Fahrenheit</option>
        <option value="2" selected>Celsius</option>
        <option value="3">Kelvin</option>
    </select>
    <input id="output" readonly />
    <button id="copy-output" class="button-copy" disabled>Copy</button>
</section>
