<div id="inputs-container">
    <input type="text" id="hours" max="23" maxlength="2" value="0" class="invisible-input" />h
    <input type="text" id="minutes" max="59" maxlength="2" value="1" class="invisible-input" />m
    <input type="text" id="seconds" max="59" maxlength="2" value="0" class="invisible-input" />s
</div>
<button id="start-timer">Start</button>
<button id="pause-resume-timer" disabled>Pause</button>
<button id="reset" class="button-danger">Reset</button>
<hr />
<div id="timer-container">
    <div id="timer">0h 0m 0s</div>
    <div id="timer-time"></div>
</div>
