<div class="basic-grid">
    <section>
        <h2>Standard Time:</h2>
        <input id="standard-input" />
        <button id="standard-input-reset">Set to current time</button>
        <i id="standard-arrow" class="fa-solid fa-arrow-down"></i>
        <h2 id="unix-output-title">UNIX Time (seconds):</h2>
        <input id="unix-output" readonly />
        <button id="unix-output-copy" class="button-copy" disabled>Copy</button>
        <button id="unix-output-switch" disabled>Switch to milliseconds</button>
    </section>
    <section>
        <h2 id="unix-input-title">UNIX Time (seconds):</h2>
        <input id="unix-input" />
        <button id="unix-input-reset">Set to current time</button>
        <button id="unix-input-switch">Switch to milliseconds</button>
        <i id="unix-arrow" class="fa-solid fa-arrow-down"></i>
        <h2>Standard Time:</h2>
        <input id="standard-output" readonly />
        <button id="standard-output-copy" class="button-copy" disabled>Copy</button>
    </section>
</div>
