<textarea id="input" placeholder="Type here..."></textarea>
<div>
    Characters:
    <span id="character-count" class="count-result">0</span>
</div>
<div>
    Words:
    <span id="word-count" class="count-result">0</span>
</div>
<div>
    Sentences:
    <span id="sentence-count" class="count-result">0</span>
</div>
<div>
    Lines:
    <span id="line-count" class="count-result">0</span>
</div>
<div>
    Paragraphs:
    <span id="paragraph-count" class="count-result">0</span>
</div>
<button id="reset" class="button-danger">Reset</button>
