@import url("/styles/tooltips.css");
@import url("/styles/external/font-awesome.css");
@import url("https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@500;600;700&display=swap");

/*
 ================
     GLOBAL
 ================
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-image: repeating-linear-gradient(90deg, rgb(171 171 171 / 6%) 0, rgb(171 171 171 / 6%) 1px, transparent 1px, transparent 96px), repeating-linear-gradient(0deg, rgb(171 171 171 / 6%) 0, rgb(171 171 171 / 6%) 1px, transparent 1px, transparent 96px), repeating-linear-gradient(0deg, rgb(171 171 171 / 9%) 0, rgb(171 171 171 / 9%) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(90deg, rgb(171 171 171 / 9%) 0, rgb(171 171 171 / 9%) 1px, transparent 1px, transparent 12px), linear-gradient(90deg, rgb(31 34 41), rgb(31 34 41));
    background-color: #1f2229;
    scroll-behavior: smooth;
    scroll-padding-top: 125px;
}

body {
    margin: 0;
    padding-bottom: 40px;
    font-family: "Source Sans Pro", sans-serif;
}

a {
    color: #1777ca;
    text-decoration: none;

    &:hover {
        color: #145791;
        text-decoration: none;
    }
}

h1 {
    padding-block: 20px;
    font-weight: 600;

    & > i.fa-regular {
        font-size: 0.8em;
    }
}

code,
.code {
    border-radius: 3px;
    background-color: #2f3136;
    padding: 0.2em;
    font-size: 85%;
    line-height: 1.125rem;
    font-family: monospace;
    white-space: pre-wrap;
    word-break: break-all;
}

hr {
    border: 1px solid currentcolor;
    border-radius: 3px;
    width: 100%;
    height: 0;
    color: dimgray;
}

/* Keyboard input */
kbd {
    display: inline-block;
    box-shadow:
        0 1px 1px rgb(0 0 0 / 20%),
        0 2px 0 0 rgb(255 255 255 / 70%) inset;
    border: 1px solid #b4b4b4;
    border-radius: 3px;
    background-color: #eee;
    padding: 2px 4px;
    color: #333;
    font-weight: 700;
    font-size: 0.85em;
    line-height: 1;
    white-space: nowrap;
}

.toastify {
    cursor: unset;
}

/*
 ================
    NAVIGATION
 ================
*/

nav {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 5000;
    background-color: #1b1e24 !important;
    padding: 35px 25px;
    font-size: 20px;

    @media (width <= 600px) {
        font-size: 16px;
    }
}

.nav-shrunk {
    padding: 25px;
    font-size: 18px;

    @media (width <= 600px) {
        font-size: 13px;
    }

    & .logo {
        font-size: 23px;

        @media (width <= 600px) {
            font-size: 16px;
        }
    }

    & .logo-tools {
        font-size: 18px;

        @media (width <= 600px) {
            font-size: 13px;
        }
    }
}

nav,
.logo,
.logo-tools {
    transition:
        padding 0.4s ease,
        font-size 0.4s ease;
}

.logo {
    float: left;
    font-weight: 700;
    font-size: 28px;
    text-align: left;

    @media (width <= 600px) {
        font-size: 18px;
    }
}

.logo-tools {
    font-weight: 700;
    font-size: 22px;

    @media (width <= 600px) {
        font-size: 14px;
    }
}

.search-box {
    position: absolute;
    float: right !important;
    transform: translate(-100%, -20%);
    border: 2px solid #3b3b3f;
    border-radius: 10px;
    background-color: #242424;
    padding: 5px;
    height: 44px;
    color: #c5c5cc;

    & .search-button {
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
        cursor: pointer;
        margin: auto;
        width: 30px;
        height: 30px;
        color: #c5c5cc;
    }

    & .search-text {
        margin-top: -10px !important;
        border: none !important;
        background-color: #242424 !important;
        padding: 6px 0 !important;
        width: 0 !important;
        color: #c5c5cc !important;

        &::placeholder {
            color: #c5c5cc;
        }
    }
}

.search-results {
    display: none;
    z-index: -100;

    & table {
        display: block;
        margin-top: 1px;
        border: 2px solid #3b3b3f;
        border-radius: 10px;
        background-color: #242424;
        padding: 8px;
        width: 300px;
        max-height: 500px;
        overflow-y: scroll;
        color: #c5c5cc;
        font-size: 18px;

        & tr:first-of-type > td {
            border-top: none;
            padding-top: 0;
        }

        & tr:last-of-type > td {
            padding-bottom: 0;
        }

        & td {
            border-top: 2px solid #4c6072;
            padding-top: 15px;
            padding-bottom: 15px;

            & .results-title {
                padding-bottom: 5px;
                font-size: 20px;
            }

            & a {
                color: #4c6072;

                &:hover,
                &.selected {
                    color: #364c5f;
                }
            }
        }
    }
}

.search-box:hover > .search-text,
.search-text:focus {
    margin-left: 5px;
    box-shadow: none !important;
    padding: 6px 8px !important;
    width: 249px !important;
}

.search-box:hover > .search-results,
.search-text:focus ~ .search-results {
    display: unset;
}

.nav-time {
    margin-right: 100px;
    margin-left: 40px;
    color: #145791;
    font-weight: 700;

    @media (width <= 600px) {
        margin-right: 20px;
    }

    &:hover {
        color: #0e4474;
    }

    & > #time-icon {
        margin-left: 2px;

        &.fa-triangle-exclamation {
            color: #f55;
        }

        &.fa-sun-bright {
            color: #ffac33;
        }

        &.fa-moon-stars {
            color: wheat;
        }
    }
}

.source {
    color: dimgray;

    &:hover {
        color: #505050;
    }
}

#last-commit-info {
    margin-left: 20px;
    color: #b4b4b4;
    font-size: 14px;

    &::after {
        margin-left: -120px;
    }
}

/*
 ================
   FOOTER UTILS
 ================
*/

.footer-utils {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0;
    border: none;
    border-radius: 5px 0 0;
    background: #31353d;
    width: 64px;
    height: 32px;
    color: whitesmoke;
    font-size: 18px;
    text-align: center;

    @media (width <= 600px) {
        width: 32px;
    }
}

#show-shortcuts {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    background: #31353d;
    width: 32px;
    height: 32px;
    color: whitesmoke;
    font-size: 18px;
    text-align: center;

    @media (width <= 600px) {
        display: none;
    }
}

#scroll-to-top {
    position: fixed;
    right: 32px;
    bottom: 0;
    margin: 0;
    border: none;
    border-radius: 5px 0 0;
    background: #31353d;
    width: 32px;
    height: 32px;
    color: whitesmoke;
    font-size: 18px;
    text-align: center;

    @media (width <= 600px) {
        right: 0;
    }
}

#show-shortcuts:hover,
#scroll-to-top:hover {
    background: #2b2e35;
    color: dimgray;
}

#shortcuts {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    background-color: rgb(0 0 0 / 40%);
    padding-top: 200px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#shortcuts-content {
    position: relative;
    animation-duration: 0.4s;
    animation-name: animate-top;
    margin: auto;
    box-shadow:
        0 4px 8px 0 rgb(0 0 0 / 20%),
        0 6px 20px 0 rgb(0 0 0 / 18.8%);
    border: 3px solid #31353d;
    border-radius: 5px;
    background-color: #1e2529;
    padding: 0;
    width: 30%;
    min-width: 300px;

    &.animate-out-top {
        animation-duration: 0.3s;
        animation-direction: reverse;
        animation-name: animate-top;
        background: none;
    }
}

@keyframes animate-top {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

#shortcuts-header {
    background-color: #1e2529;
    padding: 5px 15px;
    color: whitesmoke;
    font-size: 22px;
}

#close-shortcuts {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    color: whitesmoke;
    font-weight: bold;
    font-size: 28px;

    &:hover,
    &:focus {
        color: dimgray;
        text-decoration: none;
    }
}

#shortcuts-list {
    background-color: #1e2529;
    padding: 15px;
    color: whitesmoke;
    font-size: 18px;
    line-height: 150%;
}

/*
 ================
      TOOLS
 ================
*/

.toolbox {
    margin: 140px auto 0;
    border: 2px solid gray;
    background-color: #1f2229;
    padding: 10px 30px 20px;
    width: 95%;
    max-width: 95%;
    color: gray;
    font-weight: 500;
    text-align: left;

    @media (width <= 700px) {
        padding: 10px 8px 10px 15px;
        max-width: 85%;
    }
}

.tooltext {
    color: #145791;
    font-weight: 700;
    font-size: 20px;
    line-height: 200%;

    @media (width <= 700px) {
        font-size: 16px;
    }
}

.info-table {
    position: static;
    margin: 50px auto 30px;
    border-collapse: collapse;
    width: 70%;
    overflow-y: scroll;
    color: #a8a8a8;

    @media (width <= 700px) {
        display: inline-block;
        margin: 8px auto 30px;
        min-width: 97%;
    }

    & th {
        border: 4px solid #1b1e24;
        background-color: #292d33;
        padding: 10px;
        font-size: 18px;
        text-align: center;

        @media (width <= 700px) {
            padding: 20px;
            font-size: 14px;
        }
    }

    & tr {
        background-color: #31363d;
    }

    & td {
        border: 4px solid #1b1e24;
        padding: 20px;
        font-weight: 500;
        font-size: 18px;
        text-align: left;

        @media (width <= 700px) {
            padding: 14px;
            font-size: 16px;
        }
    }
}

.basic-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-width, 300px), 1fr));
    gap: 10px;

    & > div {
        margin-top: 15px;
    }
}

.toc {
    position: static;
    margin: 140px 0 0 40px;
    border: 2px solid gray;
    background-color: #1f2229;
    padding: 15px 30px 20px;
    width: 290px;
    max-width: 75%;
    color: gray;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    text-align: left;

    @media (width <= 700px) {
        max-width: 70%;
    }
}

.error-title {
    display: block;
    padding-top: 120px;
    color: #f55;
    font-weight: 600;
    font-size: 500%;
    text-align: center;
}

.error-warning {
    margin-top: 10px;
    color: lightgray;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
}

.error-link {
    color: #28497d;
    font-weight: 500;
    font-size: 20px;
    text-align: center;

    &:hover {
        color: #1d3d70;
    }
}

.error-image {
    display: block;
    filter: drop-shadow(0 0 0.75rem dimgray);
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 3px;
    width: 500px;
    max-width: 60%;
}

/*
 ================
     GENERAL
 ================
*/

.hidden {
    display: none;
}

.mobile-hidden {
    display: unset;

    @media (width <= 700px) {
        display: none;
    }
}

.mobile-only {
    display: none;

    @media (width <= 700px) {
        display: unset;
    }
}

.tab {
    display: inline-block;
    margin-left: 25px;

    @media (width <= 700px) {
        margin-left: 15px;
    }
}

img.emoji {
    display: inline-block;
    vertical-align: -0.1em;
    margin: 0 0.05em 0 0.1em;
    background-size: 0.9em 0.9em;
    width: 0.9em;
    height: 0.9em;
    pointer-events: none;
}

.spoiler {
    display: inline-block;
    position: relative;
    cursor: text;
    border-radius: 3px;
    background-color: #393f42;
    padding: 3px;

    @media (hover) {
        &::before {
            display: flex;
            position: absolute;
            justify-content: center;
            align-items: center;
            opacity: 1;
            transition: opacity 0.3s ease;
            inset: 0;
            border-radius: 3px;
            background-color: #1f2225;
            content: "";
            text-align: center;
        }

        &:hover::before {
            opacity: 0;
            transition: opacity 0.5s ease;
        }
    }
}

.success {
    color: #009c3f;
}

.error {
    color: #f55;
}

.info {
    font-size: 18px;
}

.timer-time {
    color: #0b5394;
    font-weight: 500;
    font-size: 90px;

    @media (width <= 700px) {
        font-size: 30px;
    }
}

#overlay {
    display: block;
    position: fixed;
    z-index: 9999;
    inset: 0;
    background-color: rgb(0 0 0 / 50%);
    width: 100%;
    height: 100%;

    & .noscript-message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #f55;
        font-weight: bold;
        font-size: 50px;
    }
}

.scroll-message {
    display: none;

    @media (width <= 700px) {
        display: initial;
    }
}

/*
 ================
      INPUTS
 ================
*/

textarea {
    transition: box-shadow 0.1s ease;
    margin: 0.5rem 0;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #252525;
    padding: 0.2rem;
    width: 40%;
    height: 6rem;
    min-height: 4rem;
    max-height: 16rem;
    resize: vertical;
    color: #aaa;
    font-family: "Fira Mono", monospace;
}

.fakeinput {
    overflow: scroll;
    user-select: text;
    text-align: left;
}

input:not(input[type="file"], input[type="checkbox"], input[type="color"]),
.fakeinput {
    transition: all 0.2s ease;
    cursor: pointer;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #252525;
    padding: 0.2rem 0.3rem;
    width: 15rem;
    scrollbar-width: none;
    color: #aaa;
    font-size: 0.75rem;
    font-family: "Fira Code", monospace;
}

input::-webkit-scrollbar,
.fakeinput::-webkit-scrollbar {
    display: none;
}

input:focus:not(input[type="file"], input[type="checkbox"], input[type="color"]),
textarea:focus:not(input[type="file"]),
.fakeinput:focus {
    outline: none;
    box-shadow: 0 0 3px 2px lightslategray;
}

input[type="file"] {
    display: none;
}

input[type="color"] {
    cursor: pointer;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #252525;

    &:hover {
        background-color: #2a2a2a;
    }
}

select {
    transition: all 0.2s ease;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #252525;
    padding: 0.2rem;
    width: 8rem;
    color: #aaa;
    font-size: 0.75rem;
    font-family: "Fira Code", monospace;
}

.file-upload {
    transition: all 0.2s ease;
    cursor: pointer;
    margin: 3px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #252525;
    padding: 0.4rem;
    width: max-content;
    height: max-content;
    color: white;
    font-weight: normal;
    font-size: 16px;

    &:hover {
        transition: all 0.2s ease;
        background-color: #2b2b2b;
    }
}

button:not(.fakeinput) {
    transition: all 0.2s ease;
    cursor: pointer;
    margin: 3px 0;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #252525;
    padding: 0.2rem 0.3rem;
    width: max-content;
    height: max-content;
    color: #ddd;
    font-family: "Source Sans Pro", sans-serif;
}

button:disabled:not(.fakeinput) {
    opacity: 0.5;
    cursor: not-allowed;
}

button:hover:not(.fakeinput) {
    background-color: #2a2a2a;
}

.invisible-input[type="text"]:not(input[type="file"], input[type="checkbox"]),
.invisible-input[type="number"]:not(input[type="file"], input[type="checkbox"]) {
    border: none;
    border-bottom: 1px solid dimgray;
    border-radius: 0;
    background-color: transparent;
    padding-bottom: 0;
    width: 1.35em;
    overflow: hidden;
    color: dimgray;
    font-weight: 500;
    font-size: 50px;
    font-family: "Source Sans Pro", sans-serif;
    text-align: right;
}

.invisible-input[type="text"]:focus:not(input[type="file"], input[type="checkbox"]),
.invisible-input[type="number"]:focus:not(input[type="file"], input[type="checkbox"]) {
    outline: none;
    box-shadow: none;
}

.invisible-input[type="number"]:is(::-webkit-inner-spin-button, ::-webkit-outer-spin-button),
.no-arrow[type="number"]:is(::-webkit-inner-spin-button, ::-webkit-outer-spin-button) {
    appearance: none;
    margin: 0;
}

input[type="search"]:is(::-ms-clear, ::-ms-reveal) {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]:is(::-webkit-search-decoration, ::-webkit-search-cancel-button, ::-webkit-search-results-button, ::-webkit-search-results-decoration) {
    display: none;
}
