<div class="toolbox">
    <h1>Binary Calculator:</h1>
    <div class="tooltext">
        Input:<br />
        <select style="margin-top: 20px" id="input-type">
            <option value="1">Binary (2)</option>
            <option value="2">Octal (8)</option>
            <option value="3" selected>Decimal (10)</option>
            <option value="4">Hex (16)</option>
        </select>
        <br /><input id="input" /> <br /><button id="reset">Reset</button>
    </div>
    <hr style="margin-top: 30px" />
    <div class="tooltext">
        Output:<br />
        <span id="message" class="error" style="font-size: 15px"></span>
        <select style="margin-top: 20px" id="output-type">
            <option value="1" selected>Binary (2)</option>
            <option value="2">Octal (8)</option>
            <option value="3">Decimal (10)</option>
            <option value="4">Hex (16)</option>
        </select>
        <br /><input id="output" readonly /><br /><button id="copy-output" disabled>Copy</button> <button id="toggle-spacers" disabled>Toggle spacers (spaces, commas)</button>
    </div>
</div>
