<div class="tooltext">
    Input:<br />
    <textarea id="input" style="width: 50%"></textarea>
    <br /><button id="to-upper">To uppercase <i id="uppercase-runResult"></i></button><button id="to-lower">To lowercase <i id="lowercase-runResult"></i></button><button id="to-title">To title case <i id="title-runResult"></i></button><button id="to-sentence">To sentence case <i id="sentence-runResult"></i></button>
    <button id="clear">Clear</button>
</div>
<hr style="margin-top: 30px" />
<div class="tooltext">
    Output:<br />
    <textarea id="result" style="width: 50%" readonly></textarea>
    <br /><button id="copy-result" disabled>Copy</button>
</div>
