<div class="toc">
    <span style="font-size: 22px; line-height: 180%">Table of Contents:</span>
    <br />– <a href="#hex">Hex Converter</a> <br />– <a href="#rgb">RBG Converter</a> <br />– <a href="#hsl">HSL Converter</a>
</div>
<div class="toolbox" style="margin: 40px auto 30px">
    <h1 id="hex">Hex Code (Hexadecimal) Converter:</h1>
    <div class="tooltext">Hex: <input id="hex-input" placeholder="#ffffff" style="width: 8rem" /><span class="color-display" id="hex-display"></span></div>
    <hr style="margin-top: 25px; width: 300px; margin-left: 0" />
    <div class="tooltext">
        RGB: <input id="hex-rgb" style="width: 8rem" readonly /> <button id="hex-rgb-copy" disabled>Copy</button><br />
        HSL: <input id="hex-hsl" style="width: 8rem" readonly /> <button id="hex-hsl-copy" disabled>Copy</button>
    </div>
</div>
<div class="toolbox" style="margin: 40px auto 30px">
    <h1 id="rgb">RGB (Red, Green, Blue) Converter:</h1>
    <div class="tooltext">RGB: <input id="rgb-input" placeholder="rgb(255,255,255)" style="width: 8rem" /><span class="color-display" id="rgb-display"></span></div>
    <hr style="margin-top: 25px; width: 300px; margin-left: 0" />
    <div class="tooltext">
        Hex: <input id="rgb-hex" style="width: 8rem" readonly /> <button id="rgb-hex-copy" disabled>Copy</button><br />
        HSL: <input id="rgb-hsl" style="width: 8rem" readonly /> <button id="rgb-hsl-copy" disabled>Copy</button>
    </div>
</div>
<div class="toolbox" style="margin: 40px auto 30px">
    <h1 id="hsl">HSL (Hue, Saturation, Lightness) Converter:</h1>
    <div class="tooltext">HSL: <input id="hsl-input" placeholder="hsl(359,100%,100%)" style="width: 8rem" /><span class="color-display" id="hsl-display"></span></div>
    <hr style="margin-top: 25px; width: 300px; margin-left: 0" />
    <div class="tooltext">
        Hex: <input id="hsl-hex" style="width: 8rem" readonly /> <button id="hsl-hex-copy" disabled>Copy</button><br />
        RGB: <input id="hsl-rgb" style="width: 8rem" readonly /> <button id="hsl-rgb-copy" disabled>Copy</button>
    </div>
</div>
