<div class="toolbox">
    <h1>Currency Exchange Rates:</h1>
    <div class="tooltext">
        <span style="color: dimgray; font-size: 15px"
            >Last Updated: <span id="lastupdated"><span class="error">Loading...</span></span> <br />Next Update:
            <span id="nextupdate"><span class="error">Loading...</span></span>
        </span>
        <table>
            <tbody>
                <tr>
                    <td>
                        <div class="tooltext" style="margin-top: 0">
                            $1 <span class="tooltip-bottom" data-tooltip="United States Dollar">USD</span> = <span id="usdcad"><span class="error">...</span></span>
                            <span class="tooltip-bottom" data-tooltip="Canadian Dollar">CAD</span>

                            <br />$1 USD = <span id="usdeur"><span class="error">...</span></span> <span class="tooltip-bottom" data-tooltip="Euro">EUR</span>

                            <br />$1 USD = <span id="usdgbp"><span class="error">...</span></span>
                            <span class="tooltip-bottom" data-tooltip="Great British Pound Sterling">GBP</span>

                            <br />$1 USD = <span id="usdaud"><span class="error">...</span></span> <span class="tooltip-bottom" data-tooltip="Australian Dollar">AUD</span>

                            <br />$1 USD = <span id="usdcrc"><span class="error">...</span></span> <span class="tooltip-bottom" data-tooltip="Costa Rican Colón">CRC</span>

                            <br />$1 USD = <span id="usdjpy"><span class="error">...</span></span> <span class="tooltip-bottom" data-tooltip="Japanese Yen">JPY</span>
                        </div>
                    </td>
                    <td style="padding-left: 30px">
                        <div class="tooltext" style="margin-top: 0">
                            $1 CAD = <span id="cadusd"><span class="error">...</span></span> USD<br />
                            €1 EUR = <span id="eurusd"><span class="error">...</span></span> USD<br />
                            £1 GBP = <span id="gbpusd"><span class="error">...</span></span> USD<br />
                            $1 AUD = <span id="audusd"><span class="error">...</span></span> USD<br />
                            ₡1 CRC = <span id="crcusd"><span class="error">...</span></span> USD<br />
                            ¥1 JPY = <span id="jpyusd"><span class="error">...</span></span> USD
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
