<div class="toolbox">
    <h1>Radical Simplifier:</h1>
    <div class="tooltext">
        Input (<span class="code" style="color: dimgray">\(operand \cdot \sqrt[index]{radicand}\)</span>):<br />
        Index: <input id="index" style="width: 100px" placeholder="2" /> <br />
        Radicand: <input id="radicand" style="width: 100px" /> <br />
        Operand: <input id="operand" style="width: 100px" placeholder="1" /> <br />
        <button id="simplify">Simplify</button>
        <button id="reset">Reset</button>
    </div>
    <br />
    <hr />
    <br />
    <div class="tooltext">
        Result:<br />
        <span id="output" class="code hidden" style="color: dimgray"></span> <span id="message"></span>
    </div>
</div>
