<div class="toolbox">
    <h1>UNIX Time Converter:</h1>
    <div class="tooltext">
        <table class="unixtable">
            <tbody>
                <tr>
                    <td>
                        <div class="tooltext">
                            Standard Time:<br />
                            <input id="standard-input" style="width: 40%" />
                            <br /><button id="standard-input-reset">Set to current time</button>
                        </div>
                    </td>
                    <td>
                        <div class="tooltext">
                            <span id="unix-input-title">UNIX Time (seconds):</span><br />
                            <input id="unix-input" style="width: 40%" />
                            <br /><button id="unix-input-reset">Set to current time</button> <button id="unix-input-switch">Switch to milliseconds</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa-solid fa-arrow-down" style="color: #009c3f; font-size: 30px; margin-left: 19%" id="standard-arrow"></i>
                        <div class="tooltext">
                            <span id="unix-output-title">UNIX Time (seconds):</span><br />
                            <input id="unix-output" style="width: 40%" readonly />
                            <br /><button id="unix-output-copy" disabled>Copy</button> <button id="unix-output-switch" disabled>Switch to milliseconds</button>
                        </div>
                    </td>
                    <td>
                        <i class="fa-solid fa-arrow-down" style="color: #009c3f; font-size: 30px; margin-left: 19%" id="unix-arrow"></i>
                        <div class="tooltext">
                            Standard Time:<br />
                            <input id="standard-output" style="width: 40%" readonly />
                            <br /><button id="standard-output-copy" disabled>Copy</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
