<div class="tooltext">
    <textarea id="input" style="min-width: 60%; width: 60%; max-width: 70%; min-height: 16rem; height: 16rem; max-height: 30rem; resize: both" placeholder="Type here..."></textarea>
    <br />
    Characters:
    <span id="character-count" style="color: navajowhite">0</span><br />
    Words:
    <span id="word-count" style="color: navajowhite">0</span><br />
    Sentences:
    <span id="sentence-count" style="color: navajowhite">0</span><br />
    Lines:
    <span id="line-count" style="color: navajowhite">0</span><br />
    Paragraphs:
    <span id="paragraph-count" style="color: navajowhite">0</span><br />
    <button id="reset">Reset</button>
</div>
